.footer {
  background: $grey-200;
  padding: 2rem 0 0 0;
  &__bottom {
    background: $white;
    font-size: 0.75rem;
    line-height: 1.1rem;
    padding-top: 0.3rem;
    @include iphone {
      font-size: 0.8rem;
      line-height: 1.1rem;
      padding-top: 0.3rem;
    }
    padding-bottom: 1rem;
    margin-top: 4rem;
  }
  &__layout {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    @include laptop {
      width: 85%;
    }
    @include desktop-small {
      width: 85%;
      padding: 0;
    }
    // @include desktop {
    //   padding: 0 5rem;
    // }
    a {
      color: $white;
    }
  }
  &__logo {
    width: 70px;
    margin-bottom: 1rem;
    @include iphone {
      width: 90px;
      margin-bottom: 1rem;
    }
    @include laptop {
      width: 120px;
      margin-bottom: 0;
    }
  }
  &__heading {
    color: $tertiary-color;
    font-weight: $bold;
    font-size: 1.05rem;
    @include tablet {
      font-size: 1.1rem;
    }
    @include laptop {
      font-size: 1.25rem;
    }

  }
  &__col-1,
  &__col-2,
  &__col-3 {
    width: 50%;
    @include laptop {
      width: 21.666%;
    }
  }
  &__col-3 {
    margin-top: 1.2rem;
    @include laptop {
      margin-top: 0;
    }
  }
  &__col-4 {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    @include laptop {
      width: 35%;
      text-align: center;
      margin-top: 0;
    }
    position: relative;
  }
}
