// // Header.
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0;
  background: $white;
  &--open {
    bottom: 0;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    @include desktop-small {
      max-width: 1135px;
    }
    @include desktop {
      max-width: 1355px;
    }
    margin-left: auto;
    margin-right: auto;
  }
  &__top {
    background: $primary-color;
    color: $secondary-color;
    padding: 0;
    @include laptop {
      padding: 0.2rem 2rem;
    }
    // @include desktop {
    //   padding: 0.2rem 10.8rem 0.2rem 11.7rem;
    // }
  }
  &__top-content {
    font-size: 0.85rem;
    padding: 0;
    width: 100%;
    text-align: center;
    background: lighten($primary-color, 4%);
    line-height: 1.7rem;
    display: none;
    @include iphone {
      display: block;
    }
    @include laptop {
      width: auto;
      text-align: left;
      background: transparent;
    }
  }
  &__top-menu {
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    text-align: center;
    @include laptop {
      width: auto;
      text-align: left;
      margin-right: -0.8rem;
    }
  }
  &__layout {
    display: flex;
    justify-content: left;
    @include laptop {
      justify-content: center;
    }
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 92%;
    @include laptop {
      flex-wrap: wrap;
      width: 95%;
    }
  }
  &__logo {
    width: 70px;
    margin: 1.1rem 0;
    @include iphone {
      width: 90px;
      margin: 1.25rem 0;
    }
    @include tablet {
      width: 100px;
    }
    @include laptop {
      width: 110px;
    }
    @include desktop-small {
      width: 129px;
    }
  }
  &__login-menu {
    position: absolute;
    right: auto;
    left: 50%;
    margin-left: -50px;
    width: 114px;
    top: 0.2rem;
    font-size: 0.85rem;
    @include iphone {
      font-size: 1rem;
      width: 140px;
      margin-left: -70px;
    }
    @include laptop {
      left: 0;
      margin-left: 0;
      top: 0.2rem;
    }
    @include laptop {
      right: 0;
      left: auto;
      width: 160px;
      top: 0.6rem;
    }
    @include desktop-small {
      right: 0;
      left: auto;
      width: 210px;
      top: 0.6rem;
    }
    text-align: center;
  }
  &__login-menu-login {
    background: $black;
    color: $white;
    text-align: center;
    font-weight: $semi-bold;
    padding: 0rem 1.5rem;
    @include iphone {
      padding: 0.2rem 2.2rem;
    }
    @include laptop {
      padding: 0.48rem 2.5rem;
    }
  }
  &__logout-menu-login {
    background: $black;
    color: $white;
    text-align: center;
    font-weight: $semi-bold;
    padding: 0rem 1.5rem;
    @include iphone {
      padding: 0.2rem 2rem;
    }
    @include laptop {
      padding: 0.48rem 2.5rem;
    }
  }
  &__logout-menu {
    position: absolute;
    right: auto;
    left: 50%;
    margin-left: -50px;
    width: 114px;
    top: 1.7rem;
    font-size: 0.85rem;
    @include iphone {
      font-size: 1rem;
      width: 140px;
      margin-left: -70px;
    }
    @include laptop {
      left: 0;
      margin-left: 0;
      top: 1.7rem;
    }
    @include laptop {
      right: 0;
      left: auto;
      width: 160px;
      top: 2.1rem;
    }
    @include desktop-small {
      right: 0;
      left: auto;
      width: 210px;
      top: 2.1rem;
    }
    text-align: center;
  }
  &__cart {
    display: inline;
    padding-top: 0.48rem;
    position: relative;
    top: 0;
    right: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    // @include iphone {
    //   position: absolute;
    //   top: 5rem;
    //   right: 7rem;
    //   margin-left: 2.8rem;
    // }
    @include tablet {
      position: absolute;
      top: 5rem;
      right: 7rem;
      margin-left: 2.8rem;
      margin-right: unset;
    }
    @include laptop {
      position: relative;
      top: unset;
      right: unset;
    }
  }
  &__navbar {
    display: flex;
    justify-content: left;
    padding-left: 4.7rem;
    @include desktop-small {
      justify-content: center;
      padding-left: 0;
    }
    background: lighten($grey-100, 1%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
}

// Navigation.
.navigation {
  display: none;
  flex-basis: 100%;
  background: lighten($grey-100, 1%);
  color: $black;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.9;
  @include laptop {
    position: relative;
    flex-basis: unset;
    padding: unset;
    opacity: 1;
    display: block;
    // display: initial;
  }
  &--open {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    @include laptop {
      display: block;
      height: auto;
      position: relative;
    }
    opacity: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    animation-name: menu-animation-2;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  &--open .menu {
    margin-top: -5rem;
    @include laptop {
      margin-top: 0;
    }
  }
  @keyframes menu-animation-2 {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
  .menu-item-has-children {
    position: relative;
    &:hover {
      .menu-list {
        display: block;
      }
    }
  }
  .menu-item-has-children > a {
    position: relative;
    padding-right: 2rem !important; // sass-lint:disable-line no-important
    &:after {
      @extend %pseudo;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: url("../../dist/assets/images/icons/chevron-down.svg")
        no-repeat center;
      right: 5px;
      width: 15px;
      height: 15px;
      z-index: 2;
    }
  }
  .menu {
    font-size: 1.35rem;
    @include tablet {
      font-size: 1.4rem;
    }
    @include laptop { // menu trigger
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.01rem;
    }
    @include desktop-small {
      font-size: 1.1rem;
    }
    @include desktop {
      font-size: 1.2rem;
    }

    & ul {
      display: none;
      background: $dark-background;
      padding: 1rem 1.5rem;
      @include tablet {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    & li {
      padding: 0 0.45vw;
      margin: 0 3.7vw;
      background: transparent;
      transition: background 0.2s ease-in;
      @include tablet {
        margin: 0 0.1vw;
        padding: 0 0.45vw;
      }
      @include laptop {
        margin: 0;
        padding: 0 0.8vw;
      }
      @include desktop-small {
        margin: 0;
        padding: 0 1.2vw;
      }
      @include desktop {
        margin: 0;
        padding: 0 1.8rem;
      }
      // &:first-of-type {
      //   margin-left: unset;
      // }
      // &:last-of-type {
      //   margin-right: unset;
      // }
      a {
        @extend %hover;
        font-weight: $semi-bold;
        color: $black;
        padding: 0;
        @include laptop {
          padding: 0.3rem 0;
        }
        &--active {
          font-weight: $bold;
        }
      }
    }
    & li:hover {
      background: $primary-color;
    }
  }
}
