@import url("//fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");

$body-font-family: "Montserrat", sans-serif;

$heading-font-family: inherit;

$primary-text-color: $black;

$light-text: #ffffff;
$dark-text: #131313;

$heading-line-height: 2;
$body-line-height: 2;

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy: 900;

body {
  font-family: $body-font-family;
  color: $primary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
  font-family: $heading-font-family;
  font-weight: $semi-bold;
}

strong {
  font-weight: $semi-bold;
}

mark {
  background: $primary-color;
}

.heading-black {
  font-weight: $semi-bold;
  color: $black;
  font-size: 1.6rem;
  padding-top: 1.4rem;
  @include iphone {
    font-size: 1.8rem;
    padding-top: 1.55rem;
  }
  @include tablet {
    font-size: 2.1rem;
    padding-top: 2rem;
  }
  @include laptop {
    padding-top: 0;
  }
  line-height: 2.2rem;
}
.heading-small-black {
  font-weight: $semi-bold;
  color: $black;
  font-size: 0.8rem;
  padding-top: 2rem;
  @include iphone {
    font-size: 1.1rem;
    padding-top: 2rem;
  }
  @include tablet {
    font-size: 1.4rem;
    padding-top: 2rem;
  }
  @include laptop {
    padding-top: 0;
  }
  line-height: 1.4rem;
}
.heading-blue {
  font-weight: $semi-bold;
  color: $tertiary-color;
  font-size: 1.6rem;
  @include iphone {
    font-size: 1.8rem;
  }
  @include tablet {
    font-size: 2.1rem;
  }
  line-height: 2.2rem;
}
.heading-gold {
  font-weight: $normal;
  color: $gold;
  font-size: 1.26rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}
.content-large {
  font-weight: $normal;
  color: $black;
  font-size: 1rem;
  line-height: 1.75rem;
  @include laptop {
    font-size: 1.07rem;
    line-height: 1.85rem;
  }
  @include desktop-small {
    font-size: 1.19rem;
    line-height: 1.9rem;
  }
  width: 100%;
  display: block;
  letter-spacing: 0.01rem;
}

p,
li,
textarea,
input,
label,
address {
  line-height: $body-line-height;
  color: $primary-text-color;
}

textarea,
input {
  box-shadow: none;
}

%h1 {
  padding: 1.5rem 0;
  font-size: 24px;
  @include tablet {
    padding: 2.5rem 0;
    font-size: 32px;
  }
  @include desktop {
    font-size: 50px;
  }
}

%h2 {
  padding: 1rem 0;
  font-size: 22px;
  @include tablet {
    padding: 1.5rem 0;
    font-size: 30px;
  }
  @include desktop {
    font-size: 35px;
  }
}

%h3 {
  padding: 0.75rem 0;
  font-size: 19px;
  @include tablet {
    font-size: 25px;
    padding: 1rem 0;
  }
}

%h4 {
  padding: 0.5rem 0;
  font-size: 18px;
  @include tablet {
    font-size: 22.5px;
    padding: 0.75rem 0;
  }
}

%h5 {
  padding: 0.25rem 0;
  font-size: 17px;
  @include tablet {
    font-size: 20px;
    padding: 0.5rem 0;
  }
}

%h6 {
  font-size: 16px;
  padding: 0.25rem 0;
}

%p {
  font-size: inherit;
  line-height: inherit;
  padding: 0.4rem 0;
  @include tablet {
    padding: 0.5rem 0;
  }
  @include laptop {
    padding: 0.7rem 0;
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  @extend %p;
}
.text-center {
  text-align: center;
}