@import url("//fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

* {
  font-size: 1rem; }

/* Custom. */
a {
  text-decoration: none;
  display: inline-block;
  color: inherit; }

* {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }
  *::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }

textarea {
  resize: vertical;
  min-height: 150px; }

input,
textarea,
select {
  padding: 1rem;
  border: unset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  padding-top: unset; }

img {
  max-width: 100%; }

html {
  scroll-behavior: smooth; }

::selection {
  background: #b4d5ff; }

em {
  font-weight: 600; }

iframe {
  max-width: 100%; }

/**
* Colours.
*/
/**
 * Miscellaneous.
 */
/**
* Material design palette.
*/
.toggle:before, .toggle:after, .toggle__line, .navigation .menu-item-has-children > a:after {
  content: "";
  display: block; }

.link, .navigation .menu li a {
  transition: 0.3s opacity; }
  .link:hover, .navigation .menu li a:hover {
    opacity: 0.75; }

.button--round {
  border-radius: 0.5rem; }

.toggle:before, .toggle:after, .toggle__line, .navigation .menu-item-has-children > a:after {
  content: "";
  display: block; }

.link, .navigation .menu li a {
  transition: 0.3s opacity; }
  .link:hover, .navigation .menu li a:hover {
    opacity: 0.75; }

.button--round {
  border-radius: 0.5rem; }

/**
 * Breakpoints.
 */
/**
 * z-index.
 *
 * Return the z-index for the given selector.
 */
/**
   * Stacking map.
   */
body {
  font-family: "Montserrat", sans-serif;
  color: #000000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2;
  font-family: inherit;
  font-weight: 600; }

strong {
  font-weight: 600; }

mark {
  background: #ffe1e5; }

.heading-black {
  font-weight: 600;
  color: #000000;
  font-size: 1.6rem;
  padding-top: 1.4rem;
  line-height: 2.2rem; }
  @media (min-width: 550px) {
    .heading-black {
      font-size: 1.8rem;
      padding-top: 1.55rem; } }
  @media (min-width: 768px) {
    .heading-black {
      font-size: 2.1rem;
      padding-top: 2rem; } }
  @media (min-width: 1024px) {
    .heading-black {
      padding-top: 0; } }

.heading-small-black {
  font-weight: 600;
  color: #000000;
  font-size: 1.1rem;
  padding-top: 2rem;
  line-height: 1.4rem; }
  @media (min-width: 550px) {
    .heading-small-black {
      font-size: 1.1rem;
      padding-top: 2rem; } }
  @media (min-width: 768px) {
    .heading-small-black {
      font-size: 1.4rem;
      padding-top: 2rem; } }
  @media (min-width: 1024px) {
    .heading-small-black {
      padding-top: 0; } }

.heading-blue {
  font-weight: 600;
  color: #003e51;
  font-size: 1.6rem;
  line-height: 2.2rem; }
  @media (min-width: 550px) {
    .heading-blue {
      font-size: 1.8rem; } }
  @media (min-width: 768px) {
    .heading-blue {
      font-size: 2.1rem; } }

.heading-gold {
  font-weight: 400;
  color: #e3bd4d;
  font-size: 1.26rem;
  line-height: 1.6rem;
  text-transform: uppercase; }

.content-large {
  font-weight: 400;
  color: #000000;
  font-size: 1rem;
  line-height: 1.75rem;
  width: 100%;
  display: block;
  letter-spacing: 0.01rem; }
  @media (min-width: 1024px) {
    .content-large {
      font-size: 1.07rem;
      line-height: 1.85rem; } }
  @media (min-width: 1200px) {
    .content-large {
      font-size: 1.19rem;
      line-height: 1.9rem; } }

p,
li,
textarea,
input,
label,
address {
  line-height: 2;
  color: #000000; }

textarea,
input {
  box-shadow: none; }

h1 {
  padding: 1.5rem 0;
  font-size: 24px; }
  @media (min-width: 768px) {
    h1 {
      padding: 2.5rem 0;
      font-size: 32px; } }
  @media (min-width: 1496px) {
    h1 {
      font-size: 50px; } }

h2 {
  padding: 1rem 0;
  font-size: 22px; }
  @media (min-width: 768px) {
    h2 {
      padding: 1.5rem 0;
      font-size: 30px; } }
  @media (min-width: 1496px) {
    h2 {
      font-size: 35px; } }

h3 {
  padding: 0.75rem 0;
  font-size: 19px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 25px;
      padding: 1rem 0; } }

h4 {
  padding: 0.5rem 0;
  font-size: 18px; }
  @media (min-width: 768px) {
    h4 {
      font-size: 22.5px;
      padding: 0.75rem 0; } }

h5 {
  padding: 0.25rem 0;
  font-size: 17px; }
  @media (min-width: 768px) {
    h5 {
      font-size: 20px;
      padding: 0.5rem 0; } }

h6 {
  font-size: 16px;
  padding: 0.25rem 0; }

p {
  font-size: inherit;
  line-height: inherit;
  padding: 0.4rem 0; }
  @media (min-width: 768px) {
    p {
      padding: 0.5rem 0; } }
  @media (min-width: 1024px) {
    p {
      padding: 0.7rem 0; } }

.text-center {
  text-align: center; }

.button {
  padding: 1rem 2.5rem;
  background: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  transition: background 0.2s ease-in-out; }
  .button:hover {
    background: #404040; }
  .button:active {
    opacity: 0.5; }
  .button[disabled] {
    opacity: 0.5;
    cursor: not-allowed; }
  .button--pill {
    border-radius: 2.5rem; }
  .button--secondary {
    background: #282828; }
    .button--secondary:hover {
      background: #020202; }
  .button--accent {
    background: tan; }
    .button--accent:hover {
      background: #bc9055; }

.link {
  color: #ffe1e5; }

.fallback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: 2147000000;
  text-align: center;
  display: flex;
  align-items: center; }
  @supports (grid-template-columns: 1fr) {
    .fallback {
      display: none; } }
  .fallback__logo {
    margin-bottom: 2.5rem; }
  .fallback__text {
    color: #212121;
    padding: 0.25rem 0; }
  .fallback__content {
    background: #eeeeee;
    padding: 2rem; }
    @media (min-width: 1024px) {
      .fallback__content {
        padding: 4rem; } }

.browsers {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .browsers .browser {
    margin: 1rem; }
    @media (min-width: 1024px) {
      .browsers .browser {
        margin-bottom: 0; } }
    .browsers .browser__title {
      color: #212121;
      padding-bottom: 0; }

.toggle {
  width: 40px;
  height: 30px;
  background: transparent;
  padding: initial;
  cursor: pointer;
  border: unset;
  transition: all 0.35s ease-in-out;
  z-index: 4;
  outline: none;
  color: #000000;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15px; }
  @media (min-width: 1024px) {
    .toggle {
      display: none; } }
  .toggle:before, .toggle:after, .toggle__line {
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000000;
    transition: all 0.25s ease-in-out; }
  .toggle:before {
    top: 0; }
  .toggle:after {
    top: 100%;
    width: 75%; }
  .toggle__line {
    top: 50%;
    transform: translateY(-50%); }
  .toggle--open:before {
    transform: rotate(-45deg) translate(-10px, 10px); }
  .toggle--open .toggle__line {
    opacity: 0; }
  .toggle--open:after {
    transform: rotate(45deg) translate(-10px, -11px);
    width: 100%; }

.slider {
  width: 100%;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: -0.2rem; }
  .slider__title {
    font-weight: 700;
    font-size: 1.55rem;
    line-height: 1.95rem;
    padding: 0 0.5rem;
    margin-top: -4.5rem;
    margin-bottom: 1rem; }
    @media (min-width: 550px) {
      .slider__title {
        font-size: 1.9rem;
        line-height: 2.2rem; } }
    @media (min-width: 768px) {
      .slider__title {
        margin-top: -3.5rem; } }
    @media (min-width: 1200px) {
      .slider__title {
        margin-top: -2.5rem; } }
    @media (min-width: 1200px) {
      .slider__title {
        margin-top: -2rem; } }
  .slider__content {
    position: absolute;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .slider__content-600 {
    height: 400px; }
    @media (min-width: 768px) {
      .slider__content-600 {
        height: 400px; } }
    @media (min-width: 1024px) {
      .slider__content-600 {
        height: 400px; } }
    @media (min-width: 1200px) {
      .slider__content-600 {
        height: 400px; } }
    @media (min-width: 1496px) {
      .slider__content-600 {
        height: 600px; } }
  .slider__content-300 {
    height: 200px; }
    @media (min-width: 768px) {
      .slider__content-300 {
        height: 200px; } }
    @media (min-width: 1200px) {
      .slider__content-300 {
        height: 250px; } }
    @media (min-width: 1496px) {
      .slider__content-300 {
        height: 300px; } }
  .slider__description {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0 1rem;
    margin-bottom: 2rem; }
    @media (min-width: 1200px) {
      .slider__description {
        font-size: 1.2rem;
        line-height: 1.7rem; } }
  .slider__btn {
    background: transparent;
    border: 4px solid #000000;
    color: #000000;
    padding: 0.8rem 1.55rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 0.9rem; }
    @media (min-width: 768px) {
      .slider__btn {
        padding: 1rem 1.55rem;
        font-size: 1.1rem; } }
  .slider__btn:hover {
    background: rgba(0, 0, 0, 0.95);
    color: #ffffff; }
  .slider__btn-white {
    background: transparent;
    border: 4px solid #ffffff;
    color: #ffffff;
    padding: 0.8rem 1.55rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 0.9rem; }
    @media (min-width: 768px) {
      .slider__btn-white {
        padding: 1rem 1.55rem;
        font-size: 1.1rem; } }
  .slider__btn-white:hover {
    background: #000000;
    color: #ffffff; }
  .slider__img {
    object-fit: cover;
    width: 100%; }
  .slider__img-600 {
    height: 400px; }
    @media (min-width: 768px) {
      .slider__img-600 {
        height: 400px; } }
    @media (min-width: 1024px) {
      .slider__img-600 {
        height: 400px; } }
    @media (min-width: 1200px) {
      .slider__img-600 {
        height: 400px; } }
    @media (min-width: 1496px) {
      .slider__img-600 {
        height: 600px; } }
  .slider__img-300 {
    height: 200px; }
    @media (min-width: 768px) {
      .slider__img-300 {
        height: 200px; } }
    @media (min-width: 1200px) {
      .slider__img-300 {
        height: 250px; } }
    @media (min-width: 1496px) {
      .slider__img-300 {
        height: 300px; } }
  .slider__scroll {
    position: absolute;
    bottom: 0.9rem;
    left: 0;
    right: 0;
    padding: 1.5rem 0 1rem 0;
    font-size: 0.95rem;
    line-height: 0; }
  .slider__icon {
    font-size: 2.15rem;
    color: #000000;
    margin-bottom: 0;
    transition: all 0.15s ease-in; }
  .slider__icon:hover {
    margin-bottom: -0.3rem; }
  .slider__icon-link {
    display: block;
    margin-bottom: 1.3rem; }

.layout__column {
  display: flex;
  flex-wrap: wrap; }
.layout__1-col {
  width: 100%; }
.layout__2-col {
  width: 100%; }
  @media (min-width: 550px) {
    .layout__2-col {
      width: 50%; } }
  @media (min-width: 1024px) {
    .layout__2-col {
      width: 50%; } }
.layout__3-col {
  width: 100%; }
  @media (min-width: 550px) {
    .layout__3-col {
      width: 50%; } }
  @media (min-width: 1024px) {
    .layout__3-col {
      width: 33.333%; } }
.layout__4-col {
  width: 100%; }
  @media (min-width: 550px) {
    .layout__4-col {
      width: 50%; } }
  @media (min-width: 1024px) {
    .layout__4-col {
      width: 25%; } }

.sales-banner {
  padding: 0.6rem 0;
  margin-top: -0.2rem; }
  @media (min-width: 550px) {
    .sales-banner {
      padding: 1.2rem 0; } }
  @media (min-width: 768px) {
    .sales-banner {
      padding: 1.5rem 0; } }
  @media (min-width: 1200px) {
    .sales-banner {
      padding: 2.7rem 0; } }
  .sales-banner__column {
    display: flex;
    flex-wrap: wrap; }
  .sales-banner__col {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap; }
  .sales-banner__col:nth-child(1) {
    border-right: 0px solid #e0e0e0;
    width: 100%; }
    @media (min-width: 550px) {
      .sales-banner__col:nth-child(1) {
        width: 100%;
        border-right: 0px solid #e0e0e0; } }
    @media (min-width: 768px) {
      .sales-banner__col:nth-child(1) {
        width: 36.333%;
        border-right: 2px solid #e0e0e0; } }
  .sales-banner__col:nth-child(2) {
    border-right: 0px solid #e0e0e0;
    width: 100%; }
    @media (min-width: 550px) {
      .sales-banner__col:nth-child(2) {
        width: 100%;
        border-right: 0px solid #e0e0e0; } }
    @media (min-width: 768px) {
      .sales-banner__col:nth-child(2) {
        width: 27.333%;
        border-right: 2px solid #e0e0e0; } }
  .sales-banner__col:nth-child(3) {
    border-right: none;
    width: 100%; }
    @media (min-width: 550px) {
      .sales-banner__col:nth-child(3) {
        width: 100%; } }
    @media (min-width: 768px) {
      .sales-banner__col:nth-child(3) {
        width: 36.333%; } }
  .sales-banner__heading {
    font-weight: 600;
    font-size: 1.35rem;
    padding: 0;
    color: #000000; }
    @media (min-width: 768px) {
      .sales-banner__heading {
        font-size: 1.05rem; } }
  .sales-banner__icon {
    font-size: 1.8rem;
    color: #000000;
    padding-top: 2rem; }
  .sales-banner__left {
    width: 100%;
    margin-left: 0%;
    text-align: center;
    display: none; }
    @media (min-width: 550px) {
      .sales-banner__left {
        display: none; } }
    @media (min-width: 768px) {
      .sales-banner__left {
        display: block; } }
    @media (min-width: 1496px) {
      .sales-banner__left {
        width: 14%;
        margin-left: 17%;
        text-align: left;
        display: block; } }
  .sales-banner__right {
    width: 100%;
    font-size: 0.95rem;
    line-height: 1.35rem;
    font-weight: 500;
    color: #9e9e9e;
    padding: 0;
    min-height: auto;
    text-align: center; }
    @media (min-width: 550px) {
      .sales-banner__right {
        padding: 0.3rem 0; } }
    @media (min-width: 768px) {
      .sales-banner__right {
        min-height: 110px;
        padding: 0.6rem 0; } }
    @media (min-width: 1496px) {
      .sales-banner__right {
        width: 69%;
        text-align: left;
        padding: 1.1rem 0; } }
  .sales-banner__content {
    color: #757575;
    font-size: 1rem; }
    @media (min-width: 768px) {
      .sales-banner__content {
        font-size: 0.8rem; } }
    @media (min-width: 1200px) {
      .sales-banner__content {
        font-size: 0.85rem; } }
    @media (min-width: 1496px) {
      .sales-banner__content {
        font-size: 0.98rem; } }
  .sales-banner__link:hover {
    text-decoration: underline; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 1rem; }
  @media (min-width: 768px) {
    .pt-2 {
      padding-top: 2rem; } }

.pt-3 {
  padding-top: 1.5rem; }
  @media (min-width: 768px) {
    .pt-3 {
      padding-top: 2rem; } }
  @media (min-width: 1024px) {
    .pt-3 {
      padding-top: 3rem; } }

.pt-4 {
  padding-top: 2rem; }
  @media (min-width: 768px) {
    .pt-4 {
      padding-top: 2.5rem; } }
  @media (min-width: 1024px) {
    .pt-4 {
      padding-top: 4rem; } }

.pt-5 {
  padding-top: 2.5rem; }
  @media (min-width: 768px) {
    .pt-5 {
      padding-top: 5rem; } }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 1rem; }
  @media (min-width: 768px) {
    .pb-2 {
      padding-bottom: 2rem; } }

.pb-3 {
  padding-bottom: 1.5rem; }
  @media (min-width: 768px) {
    .pb-3 {
      padding-bottom: 2rem; } }
  @media (min-width: 1024px) {
    .pb-3 {
      padding-bottom: 3rem; } }

.pb-4 {
  padding-bottom: 2rem; }
  @media (min-width: 768px) {
    .pb-4 {
      padding-bottom: 2.5rem; } }
  @media (min-width: 1024px) {
    .pb-4 {
      padding-top: 2.5rem; } }

.pb-5 {
  padding-bottom: 2.5rem; }
  @media (min-width: 768px) {
    .pb-5 {
      padding-bottom: 5rem; } }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 1rem; }
  @media (min-width: 768px) {
    .pl-2 {
      padding-left: 2rem; } }

.pl-3 {
  padding-left: 1rem; }
  @media (min-width: 768px) {
    .pl-3 {
      padding-left: 3rem; } }

.pl-4 {
  padding-left: 1rem; }
  @media (min-width: 768px) {
    .pl-4 {
      padding-left: 4rem; } }

.pl-5 {
  padding-left: 1rem; }
  @media (min-width: 768px) {
    .pl-5 {
      padding-left: 5rem; } }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 1rem; }
  @media (min-width: 768px) {
    .pr-2 {
      padding-right: 2rem; } }

.pr-3 {
  padding-right: 1rem; }
  @media (min-width: 768px) {
    .pr-3 {
      padding-right: 3rem; } }

.pr-4 {
  padding-right: 1rem; }
  @media (min-width: 768px) {
    .pr-4 {
      padding-right: 4rem; } }

.pr-5 {
  padding-right: 1rem; }
  @media (min-width: 768px) {
    .pr-5 {
      padding-right: 5rem; } }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .mt-2 {
      margin-top: 2rem; } }

.mt-3 {
  margin-top: 1.5rem; }
  @media (min-width: 768px) {
    .mt-3 {
      margin-top: 3rem; } }

.mt-4 {
  margin-top: 2rem; }
  @media (min-width: 768px) {
    .mt-4 {
      margin-top: 4rem; } }

.mt-5 {
  margin-top: 2.5rem; }
  @media (min-width: 768px) {
    .mt-5 {
      margin-top: 5rem; } }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .mb-2 {
      margin-bottom: 2rem; } }

.mb-3 {
  margin-bottom: 1.5rem; }
  @media (min-width: 768px) {
    .mb-3 {
      margin-bottom: 3rem; } }

.mb-4 {
  margin-bottom: 2rem; }
  @media (min-width: 768px) {
    .mb-4 {
      margin-bottom: 4rem; } }

.mb-5 {
  margin-bottom: 2.5rem; }
  @media (min-width: 768px) {
    .mb-5 {
      margin-bottom: 5rem; } }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 1rem; }
  @media (min-width: 768px) {
    .ml-2 {
      margin-left: 2rem; } }

.ml-3 {
  margin-left: 1rem; }
  @media (min-width: 768px) {
    .ml-3 {
      margin-left: 3rem; } }

.ml-4 {
  margin-left: 1rem; }
  @media (min-width: 768px) {
    .ml-4 {
      margin-left: 4rem; } }

.ml-5 {
  margin-left: 1rem; }
  @media (min-width: 768px) {
    .ml-5 {
      margin-left: 5rem; } }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 1rem; }
  @media (min-width: 768px) {
    .mr-2 {
      margin-right: 2rem; } }

.mr-3 {
  margin-right: 1rem; }
  @media (min-width: 768px) {
    .mr-3 {
      margin-right: 3rem; } }

.mr-4 {
  margin-right: 1rem; }
  @media (min-width: 768px) {
    .mr-4 {
      margin-right: 4rem; } }

.mr-5 {
  margin-right: 1rem; }
  @media (min-width: 768px) {
    .mr-5 {
      margin-right: 5rem; } }

.design-categories__link {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  background: #9e9e9e;
  font-size: 1.1rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.15s ease-in; }
.design-categories__col {
  padding: 0;
  margin-bottom: 1rem;
  position: relative;
  height: 248px;
  display: flex;
  justify-content: center; }
  @media (min-width: 550px) {
    .design-categories__col {
      padding: 0 0.65rem; } }
.design-categories__col:hover .design-categories__link {
  background: #e0e0e0;
  color: #000000;
  opacity: 0.85; }
.design-categories__wrapper {
  overflow: hidden;
  height: 248px;
  position: absolute;
  width: 94%; }
.design-categories__img {
  margin-bottom: 1.5rem;
  transform: scale(1);
  height: 248px;
  object-fit: cover;
  filter: grayscale(0%);
  transition: all 0.15s ease-in;
  width: 100%; }
.design-categories__img:hover {
  transform: scale(1.05);
  filter: grayscale(100%); }
.design-categories__column {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 550px) {
    .design-categories__column {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media (min-width: 768px) {
    .design-categories__column {
      margin-top: -1.8rem; } }
  @media (min-width: 1024px) {
    .design-categories__column {
      margin-top: 0; } }
  @media (min-width: 1496px) {
    .design-categories__column {
      margin-top: 0;
      padding-left: 5rem;
      padding-right: 5rem; } }

.grey-background {
  background: #f7f7f7; }

.our-jewellery__column {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.7rem; }
  @media (min-width: 550px) {
    .our-jewellery__column {
      padding: 0 3rem; } }
  @media (min-width: 1496px) {
    .our-jewellery__column {
      padding: 1rem; } }
.our-jewellery__btn {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%; }
  @media (min-width: 550px) {
    .our-jewellery__btn {
      width: auto; } }
.our-jewellery__img {
  object-fit: cover;
  height: 280px;
  width: 100%; }
  @media (min-width: 550px) {
    .our-jewellery__img {
      height: 320px; } }
  @media (min-width: 768px) {
    .our-jewellery__img {
      height: 360px; } }
  @media (min-width: 1200px) {
    .our-jewellery__img {
      height: 550px; } }
  @media (min-width: 1496px) {
    .our-jewellery__img {
      height: auto; } }
.our-jewellery__2-col:nth-child(1) {
  padding-right: 0;
  width: 100%; }
  @media (min-width: 550px) {
    .our-jewellery__2-col:nth-child(1) {
      width: 100%; } }
  @media (min-width: 1024px) {
    .our-jewellery__2-col:nth-child(1) {
      padding-right: 2rem;
      width: 50%; } }
.our-jewellery__2-col:nth-child(2) {
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 550px) {
    .our-jewellery__2-col:nth-child(2) {
      width: 100%; } }
  @media (min-width: 1024px) {
    .our-jewellery__2-col:nth-child(2) {
      padding-left: 2rem;
      width: 50%; } }

.contact-form {
  margin-top: 1rem; }
  .contact-form__column {
    display: flex;
    flex-wrap: wrap; }
  .contact-form__col3 {
    width: 100%; }
  .contact-form__col2 {
    width: 49%;
    margin-left: 1%; }
  .contact-form__col1 {
    width: 49%;
    margin-right: 1%; }

.home-news {
  color: #003e51; }
  .home-news__col {
    padding: 0 0.4rem;
    color: #003e51; }
  .home-news__heading {
    color: #003e51;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
    min-height: 67px; }
  .home-news__img {
    object-fit: cover;
    height: 335px;
    width: 100%;
    transform: scale(1);
    transition: all 0.15s ease-in; }
  .home-news__img:hover {
    transform: scale(1.05); }
  .home-news__link {
    width: 100%;
    overflow: hidden; }

.breadcrumbs {
  background: #ffe1e5;
  padding: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.25rem; }
  @media (min-width: 550px) {
    .breadcrumbs {
      padding: 1.45rem 0; } }
  @media (min-width: 768px) {
    .breadcrumbs {
      font-size: 0.95rem;
      line-height: 1.3rem;
      padding: 1.85rem 0; } }
  @media (min-width: 1024px) {
    .breadcrumbs {
      font-size: 1.1rem;
      line-height: 1.3rem; } }
  .breadcrumbs__container {
    display: flex;
    margin-left: auto;
    margin-right: auto; }
  .breadcrumbs__container a {
    font-weight: 600;
    text-decoration: underline; }
  .breadcrumbs__icon {
    padding: 0 0.5rem;
    font-size: 0.98rem; }
  .breadcrumbs__home-icon {
    margin-right: 0.8rem;
    font-size: 1.25rem;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center; }

.testimonials__heading {
  font-weight: 600;
  font-size: 1.17rem;
  line-height: 1.65rem;
  padding: 0 0 0.45rem 0; }
.testimonials__name {
  color: #bdbdbd;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.1rem; }
.testimonials__column {
  margin: 2rem 0;
  column-count: 1;
  column-gap: 1em; }
  @media (min-width: 550px) {
    .testimonials__column {
      column-count: 2; } }
  @media (min-width: 1024px) {
    .testimonials__column {
      column-count: 3; } }
.testimonials__3-col {
  width: 100%;
  display: inline-block; }

.card {
  border: 1px solid #e0e0e0;
  padding: 1.2rem;
  border-radius: 1.05rem;
  font-size: 1.1rem;
  line-height: 1.65rem;
  margin-right: 1rem;
  margin-bottom: 1rem; }

.two-column-with-sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1.5rem; }
  @media (min-width: 550px) {
    .two-column-with-sidebar {
      padding: 2rem 2rem; } }
  @media (min-width: 1496px) {
    .two-column-with-sidebar {
      padding: 2rem 0; } }
  .two-column-with-sidebar__container {
    width: 100%;
    margin-left: 0%;
    padding-right: 0; }
    @media (min-width: 550px) {
      .two-column-with-sidebar__container {
        padding-right: 0; } }
    @media (min-width: 768px) {
      .two-column-with-sidebar__container {
        padding-right: 0; } }
    @media (min-width: 1024px) {
      .two-column-with-sidebar__container {
        width: 75%;
        margin-left: 1.8%; } }

.sidebar {
  width: 100%;
  border-right: 0px solid #e0e0e0;
  padding-right: 0%; }
  @media (min-width: 1024px) {
    .sidebar {
      width: 21.5%;
      padding-right: 2.5%;
      border-right: 1px solid #e0e0e0; } }
  .sidebar__heading {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 1rem; }
  .sidebar__form {
    width: 100%;
    color: #9e9e9e;
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 1.3rem; }
  .sidebar__search-field {
    background: transparent;
    color: #9e9e9e;
    font-style: italic;
    width: 100%;
    padding: 0.7rem 1rem; }
  .sidebar__search-field:focus-visible {
    outline: none;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); }
  .sidebar__menu {
    margin-top: 0.7rem; }
  .sidebar__menu-list {
    text-transform: capitalize;
    color: #757575;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 1rem; }

.single .two-column-with-sidebar {
  flex-direction: row; }

.single .sidebar {
  width: 100%;
  border-right: 0px solid #e0e0e0;
  border-left: 0px solid #e0e0e0;
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 1024px) {
    .single .sidebar {
      width: 21.5%;
      padding-left: 2.5%;
      padding-right: 0;
      border-left: 1px solid #e0e0e0; } }

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto; }
  @media (min-width: 768px) {
    .container {
      width: 85%; } }
  @media (min-width: 1024px) {
    .container {
      width: 85%; } }
  .container--extra-small {
    max-width: 750px; }
  .container--small {
    max-width: 1000px; }
  .container--large {
    max-width: 1350px; }
  .container--extra-large {
    max-width: 1750px; }
  .container--full-width {
    width: 95%;
    max-width: unset; }

.footer {
  background: #eeeeee;
  padding: 2rem 0 0 0; }
  .footer__bottom {
    background: #ffffff;
    font-size: 0.75rem;
    line-height: 1.1rem;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    margin-top: 4rem; }
    @media (min-width: 550px) {
      .footer__bottom {
        font-size: 0.8rem;
        line-height: 1.1rem;
        padding-top: 0.3rem; } }
  .footer__layout {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 1024px) {
      .footer__layout {
        width: 85%; } }
    @media (min-width: 1200px) {
      .footer__layout {
        width: 85%;
        padding: 0; } }
    .footer__layout a {
      color: #ffffff; }
  .footer__logo {
    width: 70px;
    margin-bottom: 1rem; }
    @media (min-width: 550px) {
      .footer__logo {
        width: 90px;
        margin-bottom: 1rem; } }
    @media (min-width: 1024px) {
      .footer__logo {
        width: 120px;
        margin-bottom: 0; } }
  .footer__heading {
    color: #003e51;
    font-weight: 700;
    font-size: 1.05rem; }
    @media (min-width: 768px) {
      .footer__heading {
        font-size: 1.1rem; } }
    @media (min-width: 1024px) {
      .footer__heading {
        font-size: 1.25rem; } }
  .footer__col-1, .footer__col-2, .footer__col-3 {
    width: 50%; }
    @media (min-width: 1024px) {
      .footer__col-1, .footer__col-2, .footer__col-3 {
        width: 21.666%; } }
  .footer__col-3 {
    margin-top: 1.2rem; }
    @media (min-width: 1024px) {
      .footer__col-3 {
        margin-top: 0; } }
  .footer__col-4 {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    position: relative; }
    @media (min-width: 1024px) {
      .footer__col-4 {
        width: 35%;
        text-align: center;
        margin-top: 0; } }

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0;
  background: #ffffff; }
  .header--open {
    bottom: 0; }
  .header__container {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 1200px) {
      .header__container {
        max-width: 1135px; } }
    @media (min-width: 1496px) {
      .header__container {
        max-width: 1355px; } }
  .header__top {
    background: #ffe1e5;
    color: #282828;
    padding: 0; }
    @media (min-width: 1024px) {
      .header__top {
        padding: 0.2rem 2rem; } }
  .header__top-content {
    font-size: 0.85rem;
    padding: 0;
    width: 100%;
    text-align: center;
    background: #fff5f7;
    line-height: 1.7rem;
    display: none; }
    @media (min-width: 550px) {
      .header__top-content {
        display: block;
        padding: 0.35rem 0; } }
    @media (min-width: 768px) {
      .header__top-content {
        padding: 0.35rem 0; } }
    @media (min-width: 1024px) {
      .header__top-content {
        width: auto;
        text-align: left;
        background: transparent;
        padding: 0;
        font-size: 0.8rem; } }
    @media (min-width: 1200px) {
      .header__top-content {
        font-size: 0.85rem; } }
  .header__top-menu {
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    text-align: center; }
    @media (min-width: 1024px) {
      .header__top-menu {
        width: auto;
        text-align: left;
        margin-right: -0.8rem; } }
  .header__layout {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 92%; }
    @media (min-width: 1024px) {
      .header__layout {
        justify-content: center; } }
    @media (min-width: 1024px) {
      .header__layout {
        flex-wrap: wrap;
        width: 95%; } }
  .header__logo {
    width: 70px;
    margin: 1.1rem 0; }
    @media (min-width: 550px) {
      .header__logo {
        width: 90px;
        margin: 1.25rem 0; } }
    @media (min-width: 768px) {
      .header__logo {
        width: 100px; } }
    @media (min-width: 1024px) {
      .header__logo {
        width: 110px; } }
    @media (min-width: 1200px) {
      .header__logo {
        width: 129px; } }
  .header__login-menu {
    position: absolute;
    right: auto;
    left: 50%;
    margin-left: -50px;
    width: 114px;
    top: 0.2rem;
    font-size: 0.85rem;
    text-align: center; }
    @media (min-width: 550px) {
      .header__login-menu {
        font-size: 1rem;
        width: 140px;
        margin-left: -70px; } }
    @media (min-width: 1024px) {
      .header__login-menu {
        left: 0;
        margin-left: 0;
        top: 0.2rem; } }
    @media (min-width: 1024px) {
      .header__login-menu {
        right: 0;
        left: auto;
        width: 160px;
        top: 0.6rem; } }
    @media (min-width: 1200px) {
      .header__login-menu {
        right: 0;
        left: auto;
        width: 210px;
        top: 0.6rem; } }
  .header__login-menu-login {
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    padding: 0rem 1.5rem;
    transition: background 0.15s ease-in; }
    @media (min-width: 550px) {
      .header__login-menu-login {
        padding: 0.2rem 2.2rem; } }
    @media (min-width: 1024px) {
      .header__login-menu-login {
        padding: 0.48rem 2.5rem; } }
  .header__login-menu-login:hover {
    background: #404040; }
  .header__logout-menu-login {
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    padding: 0rem 1.5rem; }
    @media (min-width: 550px) {
      .header__logout-menu-login {
        padding: 0.2rem 2rem; } }
    @media (min-width: 1024px) {
      .header__logout-menu-login {
        padding: 0.48rem 2.5rem; } }
  .header__logout-menu {
    position: absolute;
    right: auto;
    left: 50%;
    margin-left: -50px;
    width: 114px;
    top: 1.7rem;
    font-size: 0.85rem;
    text-align: center; }
    @media (min-width: 550px) {
      .header__logout-menu {
        font-size: 1rem;
        width: 140px;
        margin-left: -70px; } }
    @media (min-width: 1024px) {
      .header__logout-menu {
        left: 0;
        margin-left: 0;
        top: 1.7rem; } }
    @media (min-width: 1024px) {
      .header__logout-menu {
        right: 0;
        left: auto;
        width: 160px;
        top: 2.1rem; } }
    @media (min-width: 1200px) {
      .header__logout-menu {
        right: 0;
        left: auto;
        width: 210px;
        top: 2.1rem; } }
  .header__cart {
    display: inline;
    padding-top: 0.48rem;
    position: relative;
    top: 0;
    right: 1.6rem;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 550px) {
      .header__cart {
        top: 0; } }
    @media (min-width: 768px) {
      .header__cart {
        position: absolute;
        top: 7rem;
        right: 7rem;
        margin-left: 2.8rem;
        margin-right: unset; } }
    @media (min-width: 1024px) {
      .header__cart {
        position: relative;
        top: -0.1rem;
        right: unset; } }
    @media (min-width: 1200px) {
      .header__cart {
        top: unset; } }
  .header__navbar {
    display: flex;
    justify-content: left;
    padding-left: 4.7rem;
    background: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
    @media (min-width: 1200px) {
      .header__navbar {
        justify-content: center;
        padding-left: 0; } }
  .header__navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }

.navigation {
  display: none;
  flex-basis: 100%;
  background: #f8f8f8;
  color: #000000;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.9;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%; }
  @media (min-width: 768px) {
    .navigation {
      padding-left: 30%;
      padding-right: 30%; } }
  @media (min-width: 1024px) {
    .navigation {
      position: relative;
      flex-basis: unset;
      padding: unset;
      opacity: 1;
      display: block;
      width: auto; } }
  .navigation--open {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    opacity: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    animation-name: menu-animation-2;
    animation-duration: .5s;
    animation-fill-mode: forwards; }
    @media (min-width: 1024px) {
      .navigation--open {
        display: block;
        height: auto;
        position: relative; } }
  .navigation--open .menu {
    margin-top: -7rem; }
    @media (min-width: 550px) {
      .navigation--open .menu {
        margin-top: -6rem; } }
    @media (min-width: 768px) {
      .navigation--open .menu {
        margin-top: -13rem; } }
    @media (min-width: 1024px) {
      .navigation--open .menu {
        margin-top: 0; } }
@keyframes menu-animation-2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .navigation .menu-item-has-children {
    position: relative; }
    .navigation .menu-item-has-children:hover .menu-list {
      display: block; }
  .navigation .menu-item-has-children > a {
    position: relative;
    padding-right: 2rem !important; }
    .navigation .menu-item-has-children > a:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: url("../../dist/assets/images/icons/chevron-down.svg") no-repeat center;
      right: 5px;
      width: 15px;
      height: 15px;
      z-index: 2; }
  .navigation .menu {
    font-size: 1.15rem; }
    @media (min-width: 550px) {
      .navigation .menu {
        font-size: 1.35rem; } }
    @media (min-width: 768px) {
      .navigation .menu {
        font-size: 1.4rem; } }
    @media (min-width: 1024px) {
      .navigation .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.94rem; } }
    @media (min-width: 1200px) {
      .navigation .menu {
        font-size: 1.1rem; } }
    @media (min-width: 1496px) {
      .navigation .menu {
        font-size: 1.2rem; } }
    .navigation .menu ul {
      display: none;
      background: #222b33;
      padding: 1rem 1.5rem; }
      @media (min-width: 768px) {
        .navigation .menu ul {
          position: absolute;
          top: 100%;
          left: 0; } }
    .navigation .menu li {
      padding: 0;
      margin: 0 3.7vw;
      background: transparent;
      transition: background 0.2s ease-in; }
      @media (min-width: 768px) {
        .navigation .menu li {
          margin: 0 0.1vw;
          padding: 0; } }
      @media (min-width: 1024px) {
        .navigation .menu li {
          margin: 0;
          padding: 0; } }
      @media (min-width: 1200px) {
        .navigation .menu li {
          margin: 0;
          padding: 0; } }
      @media (min-width: 1496px) {
        .navigation .menu li {
          margin: 0;
          padding: 0; } }
      .navigation .menu li a {
        font-weight: 600;
        color: #000000;
        padding: 0.3rem 0.45vw; }
        .navigation .menu li a--active {
          font-weight: 700; }
        @media (min-width: 768px) {
          .navigation .menu li a {
            margin: 0 0.1vw;
            padding: 0.3rem 0.45vw; } }
        @media (min-width: 1024px) {
          .navigation .menu li a {
            margin: 0;
            padding: 0.3rem 0.8vw; } }
        @media (min-width: 1200px) {
          .navigation .menu li a {
            margin: 0;
            padding: 0.3rem 1.1vw; } }
        @media (min-width: 1496px) {
          .navigation .menu li a {
            margin: 0;
            padding: 0.3rem 1.6vw; } }
    .navigation .menu li:hover {
      background: transparent; }
      @media (min-width: 1024px) {
        .navigation .menu li:hover {
          background: #ffe1e5; } }

.section {
  padding: 2rem 0;
  background: #ffffff; }
  @media (min-width: 768px) {
    .section {
      padding: 3rem 0; } }
  @media (min-width: 1024px) {
    .section {
      padding: 4rem 0; } }
  @media (min-width: 1496px) {
    .section {
      padding: 5rem 0; } }
  .section--dark {
    background: #222b33; }
    .section--dark .section__title,
    .section--dark .section__text {
      color: #ffffff; }
  .section--center {
    text-align: center; }
  .section--no-top {
    padding-top: unset; }
  .section--no-bottom {
    padding-bottom: unset; }
  .section__title {
    padding-top: unset;
    padding-bottom: 2rem; }
    @media (min-width: 768px) {
      .section__title {
        padding-bottom: 3rem; } }
    @media (min-width: 1024px) {
      .section__title {
        padding-bottom: 4rem; } }
    @media (min-width: 1496px) {
      .section__title {
        padding-bottom: 5rem; } }
    .section__title--center {
      text-align: center; }
  .section__text {
    color: #131313; }

.generic-grey-heading__container {
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 0rem 0.1rem 0rem; }
  @media (min-width: 768px) {
    .generic-grey-heading__container {
      padding: 0rem 0rem 0.1rem 0rem; } }
  @media (min-width: 1024px) {
    .generic-grey-heading__container {
      padding: 2rem 0rem 0.1rem 0rem; } }

.generic-content {
  line-height: 1.8rem; }
  .generic-content__container {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0; }

.delivery-policy__card {
  margin: 1.3rem 0 -1rem 0;
  font-size: 1rem;
  padding: 1.3rem 1.7rem;
  margin-left: 0;
  background: #ffffff; }
  @media (min-width: 550px) {
    .delivery-policy__card {
      padding: 1.3rem 2rem;
      margin: 2rem 0 1.22rem 1rem; } }
.delivery-policy__heading {
  font-weight: 600;
  padding-top: 0;
  font-size: 1.27rem; }
.delivery-policy__statement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }
.delivery-policy__icon {
  color: #ffe1e5;
  font-size: 1.8rem;
  display: none; }
  @media (min-width: 550px) {
    .delivery-policy__icon {
      display: block; } }

.shop__sku {
  color: #3f51b5;
  font-size: 1rem;
  line-height: 1.1rem;
  padding-top: 0;
  margin-top: -0.6rem; }
.shop__description {
  min-height: auto; }
  @media (min-width: 550px) {
    .shop__description {
      min-height: 85px; } }

.single-product__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
.single-product__sku {
  color: #3f51b5;
  font-size: 1.5rem; }
.single-product__signin {
  background: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 0.7rem;
  margin-top: 0.5rem;
  font-weight: 600;
  transition: background 0.15s ease-in; }
.single-product__signin:hover {
  background: #404040; }
.single-product__upsell-title {
  font-size: 1.7rem;
  font-weight: 600;
  color: #000000;
  line-height: 2.2rem;
  padding: 0 0 1rem 0; }

.contact__column {
  display: flex;
  flex-wrap: wrap; }
.contact__col:nth-child(1) {
  width: 100%;
  margin-right: 0%; }
  @media (min-width: 1024px) {
    .contact__col:nth-child(1) {
      width: 52%;
      margin-right: 1%; } }
.contact__col:nth-child(2) {
  width: 100%;
  margin-left: 0%; }
  @media (min-width: 1024px) {
    .contact__col:nth-child(2) {
      width: 46%;
      margin-left: 1%; } }
.contact__subheading {
  color: #003e51;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  padding: 0 0 0.4rem 0;
  margin-top: -1.2rem; }
.contact__telephone {
  padding: 0.5rem 0;
  font-size: 0.95rem;
  line-height: 2rem; }
.contact__address {
  font-size: 0.95rem;
  line-height: 1.8rem;
  padding: 0; }
.contact__address-bold {
  font-weight: 700; }
.contact__address-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7rem; }
.contact__address-wrap-2 {
  display: flex;
  flex-wrap: wrap; }
.contact__address-left {
  width: 10%; }
  @media (min-width: 550px) {
    .contact__address-left {
      width: 6%; } }
.contact__address-right {
  width: 90%; }
  @media (min-width: 550px) {
    .contact__address-right {
      width: 94%; } }
.contact__address-wrap .contact__icon {
  font-size: 1.55rem;
  transform: rotate(45deg); }
.contact__address-wrap-2 .contact__icon {
  font-size: 1.85rem;
  margin-left: 0.2rem; }
.contact__image {
  object-fit: cover;
  height: 400px;
  margin-top: 2rem;
  width: 100%; }
  @media (min-width: 1024px) {
    .contact__image {
      height: 760px;
      margin-top: 0; } }

.minimum-order {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  padding: 1rem;
  border-radius: 0.8rem; }
  .minimum-order__title {
    padding: 0 0 0.5rem 0;
    font-size: 1.3rem; }

.news-banner {
  width: 100%; }
  .news-banner__img {
    width: 100%;
    object-fit: cover;
    height: 200px; }
    @media (min-width: 550px) {
      .news-banner__img {
        height: 280px; } }

.news-content__column {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0% 1.99%;
  width: 100%;
  color: #003e51; }
  @media (min-width: 550px) {
    .news-content__column {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 768px) {
    .news-content__column {
      grid-template-columns: repeat(3, 1fr); } }
.news-content__single-column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem; }
.news-content__left {
  width: 100%;
  margin-right: 0%;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .news-content__left {
      width: 48%;
      margin-right: 2%;
      margin-bottom: 0; } }
.news-content__right {
  width: 100%; }
  @media (min-width: 768px) {
    .news-content__right {
      width: 50%;
      padding-top: 0.8rem; } }
.news-content__bottom {
  width: 100%; }
.news-content__title {
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-decoration: underline;
  min-height: 49px;
  color: #003e51;
  padding-bottom: 0.2rem;
  font-weight: 600;
  margin-top: 0.7rem; }
.news-content__img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  transform: scale(1);
  transition: all 0.15s ease-in; }
.news-content__img:hover {
  transform: scale(1.05); }
.news-content__img-link {
  width: 100%;
  overflow: hidden; }
.news-content__panel {
  margin-bottom: 1rem; }
.news-content__heading {
  color: #003e51;
  width: 100%;
  line-height: 1.9rem; }

.single .news-content__single-column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-right: 2rem; }

.login {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: flex-start;
  align-items: center; }
  @media (min-width: 550px) {
    .login {
      padding: 0 2rem; } }
  @media (min-width: 768px) {
    .login {
      padding: 0 2.4rem; } }
  @media (min-width: 1024px) {
    .login {
      padding: 0 3rem; } }
  .login__col-1 {
    width: 100%;
    margin-right: 0; }
    @media (min-width: 1024px) {
      .login__col-1 {
        width: 48%;
        margin-right: 2%; } }
  .login__col-2 {
    width: 100%;
    margin-left: 0; }
    @media (min-width: 1024px) {
      .login__col-2 {
        width: 48%;
        margin-left: 2%; } }
  .login__heading {
    padding: 0;
    font-size: 2.2rem;
    margin: 1rem 0 -1rem 0; }
    @media (min-width: 768px) {
      .login__heading {
        margin: 0; } }
  .login__img {
    object-fit: cover;
    width: 100%; }
  .login__form {
    background: #ffffff; }
  .login__form-row {
    width: 100%; }

.register-message {
  width: 100%;
  padding: 0;
  line-height: 1.5rem; }
  @media (min-width: 550px) {
    .register-message {
      padding: 0 2rem; } }
  @media (min-width: 768px) {
    .register-message {
      padding: 0 2.4rem; } }
  @media (min-width: 1024px) {
    .register-message {
      padding: 0 3rem; } }
  .register-message__heading {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    padding: 0; }
  .register-message__link {
    text-decoration: underline; }

.error404 .slider__title {
  color: #ffffff;
  font-size: 5rem;
  line-height: 6rem;
  margin-top: 0.6rem; }
  @media (min-width: 550px) {
    .error404 .slider__title {
      font-size: 8rem;
      line-height: 10rem; } }
.error404 .slider__description {
  color: #ffffff; }
.error404 .menu li {
  display: inline;
  padding: 0 0.4rem; }
.error404 .page-not-found {
  margin-bottom: 5rem; }
.error404 .page-not-found form {
  max-width: 500px;
  margin: 3rem auto; }

.search-content__column {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0% 1.99%;
  width: 100%;
  color: #003e51; }
  @media (min-width: 550px) {
    .search-content__column {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1200px) {
    .search-content__column {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 1496px) {
    .search-content__column {
      grid-template-columns: repeat(4, 1fr); } }
.search-content__title {
  font-size: 1.1rem;
  line-height: 1.4rem;
  min-height: 49px;
  color: #000000;
  padding-bottom: 0.2rem;
  font-weight: 600;
  margin-top: 0.7rem; }
.search-content__link {
  width: 100%; }
.search-content__img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border: 1px solid #e0e0e0; }
  @media (min-width: 550px) {
    .search-content__img {
      height: 250px; } }
  @media (min-width: 768px) {
    .search-content__img {
      height: 270px; } }
  @media (min-width: 1024px) {
    .search-content__img {
      height: 200px; } }
.search-content__img-link {
  width: 100%; }
.search-content__panel {
  margin-bottom: 1rem; }
.search-content__content {
  line-height: 1.4rem; }

/** 
 * Shame.
 *
 * Specificity overrides and poor code.
 */
.toggle--menu {
  position: fixed;
  width: 100%; }

/* Header */
.header__top-menu li {
  display: inline;
  font-weight: 500;
  line-height: 1.1rem; }
  @media (min-width: 550px) {
    .header__top-menu li {
      line-height: 1.7rem; } }
.header__top-menu li:after {
  content: "";
  padding: 0 0.2rem 0 0.2rem;
  color: #bdbdbd; }
  @media (min-width: 550px) {
    .header__top-menu li:after {
      content: "|";
      padding: 0 0.4rem 0 0.6rem; } }
.header__top-menu li:last-child:after {
  content: ""; }

/* Header */
.header__top-menu {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem; }
  @media (min-width: 550px) {
    .header__top-menu {
      padding: 0 0.5rem; } }
  @media (min-width: 768px) {
    .header__top-menu {
      padding: 0.7rem 0.5rem; } }
  @media (min-width: 1024px) {
    .header__top-menu {
      padding: 0 0.5rem; } }
.header__top-menu li a {
  font-size: 0.73rem;
  font-weight: 600; }
  @media (min-width: 550px) {
    .header__top-menu li a {
      font-size: 0.76rem; } }
  @media (min-width: 768px) {
    .header__top-menu li a {
      font-size: 0.83rem; } }
.header__login-menu-account a {
  text-decoration: underline;
  font-size: 0.75rem; }
  @media (min-width: 550px) {
    .header__login-menu-account a {
      font-size: 0.8rem; } }
  @media (min-width: 768px) {
    .header__login-menu-account a {
      font-size: 0.88rem; } }
  @media (min-width: 1024px) {
    .header__login-menu-account a {
      font-size: 0.95rem; } }
.header__cart bdi {
  font-weight: 700;
  font-size: 1.02rem; }

/* Header */
/* Footer */
.footer__menu li a {
  color: #003e51;
  font-size: 0.88rem;
  padding-right: 0.5rem; }
  @media (min-width: 550px) {
    .footer__menu li a {
      font-size: 0.95rem; } }
  @media (min-width: 1024px) {
    .footer__menu li a {
      font-size: 0.98rem; } }
  @media (min-width: 1200px) {
    .footer__menu li a {
      font-size: 1rem; } }
  @media (min-width: 1496px) {
    .footer__menu li a {
      font-size: 1.1rem; } }
.footer form .wpcf7-submit {
  background: #227c12;
  color: #ffffff;
  border: none;
  font-weight: 600;
  margin-left: -0.3rem;
  border: 1px solid #227c12;
  width: 35%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  @media (min-width: 1496px) {
    .footer form .wpcf7-submit {
      width: 28%; } }
.footer form .wpcf7-submit:hover {
  background: #195d0d; }
.footer form input {
  border: 1px solid #000000;
  color: #006584;
  padding: 0.55rem 1.1rem;
  width: 65%;
  font-size: 0.98rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border-right: none; }
  @media (min-width: 1496px) {
    .footer form input {
      width: 72%;
      font-size: 1.15rem; } }
.footer__signoff {
  color: #003e51;
  font-size: 0.8rem;
  line-height: 1.1rem;
  padding: 1rem 0; }

/* Footer */
/* Contact Form 7 */
.footer .wpcf7-spinner {
  position: absolute;
  bottom: 0; }

.wpcf7-spinner {
  position: relative;
  left: 50%;
  margin-left: -12px !important;
  bottom: 0.5rem;
  display: block;
  margin: 0.4rem auto; }

.wpcf7-form-control {
  width: 100%;
  border: 1px solid #e0e0e0;
  color: #9e9e9e;
  margin-bottom: 0.8rem;
  padding: 0.9rem 1.2rem;
  font-size: 0.9rem; }
  @media (min-width: 550px) {
    .wpcf7-form-control {
      font-size: 1rem; } }

.wpcf7-form-control:focus-visible {
  outline: none; }

.wpcf7-submit {
  background: #000000;
  width: auto;
  color: #ffffff;
  border-radius: 0 !important;
  font-weight: 600;
  padding: 0.7rem 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.15s ease-in;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.wpcf7-submit:hover {
  background: #404040; }

.home-contact__container {
  max-width: 900px !important;
  margin-left: auto;
  margin-right: auto; }
.home-contact__container p {
  color: #003e51; }
.home-contact__container .wpcf7 {
  padding: 0 0.4rem; }
  @media (min-width: 550px) {
    .home-contact__container .wpcf7 {
      padding: 0 2.2rem; } }
.home-contact .wpcf7 .wpcf7-form-control {
  border-radius: 0.35rem; }
.home-contact .wpcf7 textarea {
  height: 150px;
  margin-bottom: 1.2rem; }
.home-contact .wpcf7 textarea:focus-visible {
  outline: none; }
.home-contact .contact-form .wpcf7-form {
  display: flex;
  flex-wrap: wrap; }

.footer .wpcf7-not-valid-tip {
  color: #dc3232;
  font-size: 1.55em;
  font-weight: normal;
  display: inline;
  position: absolute;
  top: -0.2rem;
  right: 0.6rem;
  font-weight: 700; }

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  border: none; }

.footer .wpcf7 form .wpcf7-response-output {
  margin: -1em auto 0 auto; }

.wpcf7 form .wpcf7-response-output {
  background: #227c12;
  font-size: 0.85rem;
  line-height: 1.1rem;
  margin: 0em auto 1em auto;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  color: #ffffff; }

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #227c12; }

.wpcf7-not-valid-tip {
  color: #f44336;
  font-size: 0.75rem;
  padding: 0.3rem 0.3rem;
  margin-bottom: 0.6rem;
  margin-top: -0.8rem;
  line-height: 1.1rem; }
  @media (min-width: 550px) {
    .wpcf7-not-valid-tip {
      font-size: 0.9rem;
      padding: 0.3rem 0.6rem; } }

/* Contact Form 7 */
/* Slick Slider */
.slick-next {
  right: -1.35rem; }
  @media (min-width: 1024px) {
    .slick-next {
      right: -4rem; } }

.slick-prev {
  left: -1.35rem; }
  @media (min-width: 1024px) {
    .slick-prev {
      left: -4rem; } }

.slick-prev,
.slick-next {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  display: block;
  height: 40px;
  padding: 0;
  cursor: pointer;
  z-index: 9;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:before {
  content: "\f053";
  height: 40px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #bdbdbd;
  position: absolute;
  text-align: left;
  width: 40px;
  left: 0; }
  @media (min-width: 1496px) {
    .slick-prev:before {
      left: 2rem; } }

.slick-next:after {
  content: "\f054";
  height: 40px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #bdbdbd;
  position: absolute;
  text-align: right;
  width: 40px;
  right: 0; }
  @media (min-width: 1496px) {
    .slick-next:after {
      right: 2rem; } }

/* Slick Slider */
/* Home Sales Banner */
.layout__3-col:nth-child(3) .sales-banner__col {
  border-right: none; }

/* Home Sales Banner */
/* Home News */
.home-news .home-news__col p {
  color: #003e51;
  font-size: 1.1rem;
  line-height: 1.5rem; }

/* Home News */
/* Fly Cart */
.woofc-menu-item .woofc-menu-item-inner:after {
  left: -18px;
  top: -1.5px;
  background-color: #227c12;
  font-weight: 600;
  width: 16px;
  height: 16px;
  padding: 1px;
  border-radius: 10px; }

.woofc-menu-item .woofc-menu-item-inner i {
  font-size: 1.5rem;
  line-height: 1.5rem;
  vertical-align: top;
  margin-top: 1px; }

/* Fly Cart */
/* FAQs Page */
.accordion-list {
  margin-top: 1.1rem; }

.accordion-list h3 {
  font-weight: 600 !important;
  font-size: 0.98rem;
  line-height: 1.35rem;
  cursor: pointer;
  padding: 0 1.7rem 0 0;
  position: relative; }
  @media (min-width: 550px) {
    .accordion-list h3 {
      font-size: 1.05rem;
      line-height: 1.45rem;
      padding: 0; } }
  @media (min-width: 768px) {
    .accordion-list h3 {
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding: 0.5rem 0; } }
  .accordion-list h3:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    opacity: 0.5;
    width: 12px;
    position: absolute;
    right: 0.5rem;
    top: 0;
    color: #ffe1e5;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-weight: 700;
    color: #000000; }
    @media (min-width: 550px) {
      .accordion-list h3:after {
        top: 0.5rem; } }

.accordion-list .active h3::after {
  font-family: "Font Awesome 5 Free";
  content: "\f077"; }

.accordion-list li {
  border: 1px solid #e0e0e0;
  border-radius: 0.8rem;
  padding: 1rem 1rem 1rem 1.1rem;
  margin-left: 0 !important;
  margin-bottom: 1rem;
  list-style-type: none !important; }
  @media (min-width: 550px) {
    .accordion-list li {
      padding: 1rem 1rem 1rem 2rem; } }
  @media (min-width: 768px) {
    .accordion-list li {
      padding: 1rem 1rem 1rem 1.55rem; } }
  @media (min-width: 1024px) {
    .accordion-list li {
      padding: 1rem 1rem 1rem 2rem; } }

.accordion-list ol li {
  border: 0;
  padding: 0;
  list-style-type: number !important;
  margin-left: 1rem !important; }

.accordion-list .answer {
  line-height: 1.3rem;
  font-size: 0.88rem; }
  @media (min-width: 768px) {
    .accordion-list .answer {
      line-height: 1.4rem;
      font-size: 1rem; } }

.accordion-list .answer ol li {
  list-style-type: number;
  margin-bottom: 0.7rem;
  margin-left: 1rem; }

/* FAQs Page */
/* SHOP / CATEGORY PAGE */
.woocommerce-result-count {
  display: block;
  color: #9e9e9e;
  width: 100%; }
  @media (min-width: 768px) {
    .woocommerce-result-count {
      display: inline;
      width: auto; } }

.woocommerce-ordering {
  display: inline;
  float: left !important; }
  @media (min-width: 768px) {
    .woocommerce-ordering {
      float: right !important; } }

.orderby {
  box-shadow: none;
  border: 1px solid #757575;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.6rem;
  background-image: url("/wp-content/uploads/2022/04/chevron.png");
  background-repeat: no-repeat;
  background-position: 202px center;
  width: 229px;
  margin-right: 0.7rem;
  background-color: #ffffff; }
  @media (min-width: 1200px) {
    .orderby {
      width: 229px;
      background-position: 202px center; } }
  @media (min-width: 1496px) {
    .orderby {
      width: 241px;
      background-position: 212px center; } }

.orderby:focus-visible {
  outline: 0; }

.woocommerce-products-header__title {
  font-weight: 600;
  font-size: 2.05rem;
  line-height: 2.7rem;
  padding: 0; }

.term-description {
  font-size: 1.12rem;
  line-height: 1.9rem;
  margin-bottom: 1rem; }

.woocommerce-loop-product__title {
  font-weight: 600;
  font-size: 1rem;
  padding: 0 !important;
  line-height: 1.25rem;
  min-height: 50px; }

.add_to_cart_button, .product_type_simple {
  font-weight: 600 !important;
  width: 100%;
  padding: 0.9rem !important;
  margin-top: 1rem;
  background-color: #000000 !important;
  color: #ffffff !important;
  border-radius: 0 !important; }

.add_to_cart_button:hover, .product_type_simple:hover {
  background-color: #404040 !important; }

.woocommerce ul.products li.product a img {
  border: 1px solid #e0e0e0;
  object-fit: cover;
  height: auto; }
  @media (min-width: 550px) {
    .woocommerce ul.products li.product a img {
      height: 280px; } }
  @media (min-width: 768px) {
    .woocommerce ul.products li.product a img {
      height: 280px; } }
  @media (min-width: 1024px) {
    .woocommerce ul.products li.product a img {
      height: 220px; } }

.woocommerce-loop-product__link {
  width: 100%; }

.woocommerce ul.products li.product .price {
  color: #9e9e9e;
  display: block;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 1rem; }

.products__content {
  padding: 0 2.5%;
  line-height: 1.3rem; }

.widget_product_search button {
  display: none; }

.is-search-input {
  width: 100%;
  border: 1px solid #bdbdbd;
  color: #9e9e9e;
  font-style: italic;
  font-size: 1.1rem;
  background-image: url("/wp-content/themes/fluidpress/images/magnifier.png");
  background-repeat: no-repeat;
  background-position: right center; }

.widget_product_search .search-field:focus-visible {
  outline: 0; }

.widget_nav_menu h6 {
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 0.8rem; }
.widget_nav_menu .menu li a {
  font-size: 1.1rem;
  color: #757575;
  margin-bottom: 0.2rem; }

.sidebar .menu li {
  text-transform: capitalize;
  color: #757575;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem; }

/* SHOP / CATEGORY PAGE */
/* SHOP GRID */
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  margin: 0 1% 2.992em 0;
  width: 24%; }

@media screen and (max-width: 1200px) {
  .woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product {
    width: 32.333%; }

  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 32.333%; }

  .woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: none; }

  .woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 1%; } }
@media screen and (max-width: 768px) {
  .woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product {
    width: 48%;
    margin-right: 2%; }

  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 48%;
    margin-right: 2%; }

  .woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: none; }

  .woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 3.8%; } }
@media screen and (max-width: 550px) {
  .woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product {
    width: 100%; }

  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%; }

  .woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: none; }

  .woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 0%; } }
/* SHOP GRID */
/* Product Page */
.woocommerce ul.products {
  display: flex;
  flex-wrap: wrap; }

div.product div.summary {
  width: 50%; }

.woocommerce-page div.product div.images {
  width: 50%; }

.woocommerce-product-gallery__wrapper {
  border: 1px solid #9e9e9e; }

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: 1px solid #9e9e9e;
  background-color: #ffffff; }

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: 1px solid #9e9e9e; }

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  border-left: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e; }

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border-right: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e; }

.product_title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 2rem; }

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #9e9e9e;
  font-size: 1.55em;
  font-weight: 600; }

.woocommerce div.product p.price ins {
  text-decoration: none; }

.woocommerce .quantity .qty {
  background: #e0e0e0;
  border: 1px solid #bdbdbd;
  font-weight: 700;
  width: 4.7rem; }

.woocommerce .quantity .qty:focus-visible {
  outline: none; }

.woocommerce div.product form.cart {
  display: flex;
  margin-top: 1rem; }

.woocommerce div.product form.cart .button {
  width: 60%; }

.wc-memberships-member-discount-message {
  border-top: none;
  background: #000000 !important;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  display: none; }

.wc-memberships-member-discount-message::before {
  content: ""; }

.woocommerce-Tabs-panel {
  line-height: 1.3rem; }
  .woocommerce-Tabs-panel h1 {
    font-weight: 600;
    font-size: 1.55rem;
    line-height: 1.9rem;
    padding: 1rem 0 1rem 0; }
  .woocommerce-Tabs-panel h3 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.6rem; }

.woocommerce div.product div.summary {
  padding-left: 3.3rem; }

.tax-product_cat .added_to_cart {
  width: 100%;
  margin: 0.3rem   0 0 0; }

.added_to_cart {
  width: 95%;
  text-align: center;
  background: #ccc;
  margin: 0.3rem 2.5% 0 2.5%;
  padding: 0.5rem; }

.related h2, .related-alt h2 {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 0 0.6rem 0;
  line-height: 1.3rem !important;
  margin-bottom: 1rem !important; }

.related-alt .woocommerce {
  padding-top: 1rem; }
.related-alt__link {
  text-decoration: underline;
  color: #3f51b5;
  font-weight: 600;
  margin-bottom: 2rem; }

.up-sells .products {
  margin-top: 1rem !important; }

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  z-index: 4; }

.woocommerce div.product div.summary {
  padding-left: 0; }
  @media (min-width: 768px) {
    .woocommerce div.product div.summary {
      padding-left: 2rem; } }
  @media (min-width: 1024px) {
    .woocommerce div.product div.summary {
      padding-left: 3rem; } }

.single .woocommerce-message .button {
  width: 100%;
  margin-bottom: 1rem; }
  @media (min-width: 550px) {
    .single .woocommerce-message .button {
      width: auto;
      margin-bottom: 0; } }

.single .woocommerce-message .button:focus-visible {
  outline: none; }

.single .summary .out-of-stock {
  left: 14px; }

.out-of-stock {
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2.5rem;
  background: #227c12;
  color: #ffffff !important;
  text-align: center;
  padding: 0.3rem;
  position: absolute;
  top: 5px;
  font-size: 0.6rem !important;
  font-weight: 500;
  line-height: 0.8rem;
  left: 5px;
  text-transform: uppercase; }

.ah_discontinued {
  display: none; }

/* Product Page */
/* Woocommerce Buttons */
.woocommerce a.button.loading::after {
  margin-top: 0.3rem; }

.woocommerce #respond input#submit, .woocommerce button.button, .woocommerce input.button {
  padding: 1.1rem;
  font-weight: 600;
  border-radius: 0;
  color: #ffffff;
  background-color: #000000;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%; }

.woocommerce .cart .button {
  padding: 1.2rem !important;
  font-weight: 600;
  border-radius: 0;
  color: #ffffff !important;
  background-color: #000000;
  width: 200px;
  margin-left: 2.5%;
  margin-right: 2.5%; }

.woocommerce .cart .button:hover {
  color: #ffffff;
  background-color: #404040 !important; }

.woocommerce a.button:hover {
  color: #ffffff;
  background-color: #404040; }

.woocommerce button.button.alt {
  background: #000000; }

.woocommerce button.button.alt:hover {
  color: #ffffff;
  background-color: #404040; }

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  padding: 1.1rem;
  font-weight: 600;
  border-radius: 0;
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  color: #ffffff;
  background-color: #404040; }

/* Woocommerce Buttons */
/* WOOCOMMERCE BREADCRUMBS */
.woocommerce .woocommerce-breadcrumb {
  margin: 0;
  padding: 0;
  color: #000000; }

.woocommerce .woocommerce-breadcrumb a {
  color: #000000; }

/* WOOCOMMERCE BREADCRUMBS */
/* WOO PAGINATION */
.woocommerce nav.woocommerce-pagination {
  text-align: center;
  margin-bottom: 2.5rem; }
  @media (min-width: 768px) {
    .woocommerce nav.woocommerce-pagination {
      margin-bottom: 0; } }

.woocommerce nav.woocommerce-pagination ul li span.current {
  background: #428aca;
  color: #ffffff;
  padding: 0.6rem 0.45rem;
  font-size: 0.85rem; }
  @media (min-width: 550px) {
    .woocommerce nav.woocommerce-pagination ul li span.current {
      padding: 0.5rem 0.7rem;
      font-size: 1rem; } }

.woocommerce nav.woocommerce-pagination ul li a {
  padding: 0.6rem 0.45rem;
  font-size: 0.85rem;
  color: #428aca; }
  @media (min-width: 550px) {
    .woocommerce nav.woocommerce-pagination ul li a {
      padding: 0.5rem 0.7rem;
      font-size: 1rem; } }

/* WOO PAGINATION */
/* CART - CHECKOUT PAGE */
.page-id-21, .page-id-22, .page-id-23 {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, white 100%); }

.wpmc-nav-wrapper button.button {
  width: 200px;
  margin: 0.4rem; }

.woocommerce-checkout .woocommerce, .woocommerce-cart .woocommerce {
  padding: 1.5rem 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px; }
  @media (min-width: 550px) {
    .woocommerce-checkout .woocommerce, .woocommerce-cart .woocommerce {
      padding: 1.5rem 0rem; } }
  @media (min-width: 768px) {
    .woocommerce-checkout .woocommerce, .woocommerce-cart .woocommerce {
      padding: 4.5rem 0; } }
  @media (min-width: 1024px) {
    .woocommerce-checkout .woocommerce, .woocommerce-cart .woocommerce {
      padding: 4.5rem 0; } }
  @media (min-width: 1200px) {
    .woocommerce-checkout .woocommerce, .woocommerce-cart .woocommerce {
      padding: 4.5rem 0; } }
  @media (min-width: 1496px) {
    .woocommerce-checkout .woocommerce, .woocommerce-cart .woocommerce {
      padding: 4.5rem 0; } }

.woocommerce-account .woocommerce {
  padding: 2.5rem 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px; }
  @media (min-width: 550px) {
    .woocommerce-account .woocommerce {
      padding: 2.5rem 2rem; } }
  @media (min-width: 768px) {
    .woocommerce-account .woocommerce {
      padding: 2.5rem 2rem; } }
  @media (min-width: 1024px) {
    .woocommerce-account .woocommerce {
      padding: 2.5rem 2rem; } }
  @media (min-width: 1200px) {
    .woocommerce-account .woocommerce {
      padding: 2.5rem 2rem; } }
  @media (min-width: 1496px) {
    .woocommerce-account .woocommerce {
      padding: 2.5rem 0; } }

.coupon {
  display: flex; }

.cart_totals h2 {
  padding: 0; }

.woocommerce form .form-row input.input-text {
  border: 1px solid #e0e0e0;
  color: #9e9e9e;
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 0.9rem 1.2rem;
  border-radius: 0.35rem; }

.woocommerce table.shop_table {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); }

.woocommerce table.shop_table {
  background: #ffffff; }

.woocommerce table.shop_table th {
  padding: 12px 12px; }

.woocommerce table.shop_table tbody .order-total {
  background: #ffe6e9; }

.select2-container .select2-selection--single {
  height: 48px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 48px;
  color: #9e9e9e;
  padding-left: 15px; }

.select2-container--default .select2-selection--single {
  background-color: #ffffff;
  border: 1px solid #e0e0e0; }

.woocommerce-page table.cart td.actions .button {
  width: 100%;
  margin: 0; }

.woocommerce-page table.cart td.actions .coupon {
  margin-bottom: 0.5rem; }

.woocommerce-cart .shop_table {
  font-size: 0.9rem; }
  @media (min-width: 768px) {
    .woocommerce-cart .shop_table {
      font-size: 1rem; } }

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  width: 100%;
  margin: 0; }
  @media (min-width: 550px) {
    .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
      width: 200px; } }

.woofc-area.woofc-effect-05 {
  max-width: 300px; }
  @media (min-width: 550px) {
    .woofc-area.woofc-effect-05 {
      max-width: 380px; } }

.woocommerce-checkout .wpmc-nav-wrapper {
  flex-wrap: wrap;
  padding-top: 2rem; }
  @media (min-width: 550px) {
    .woocommerce-checkout .wpmc-nav-wrapper {
      flex-wrap: nowrap;
      padding-top: 0; } }

.woocommerce-checkout .wpmc-nav-wrapper button#wpmc-prev.current, .woocommerce-checkout .wpmc-nav-wrapper button#wpmc-next.current {
  width: 100%;
  margin: 0 0 0.4rem 0; }
  @media (min-width: 550px) {
    .woocommerce-checkout .wpmc-nav-wrapper button#wpmc-prev.current, .woocommerce-checkout .wpmc-nav-wrapper button#wpmc-next.current {
      width: auto;
      margin: 0.4rem; } }

.woocommerce-checkout .button#wpmc-back-to-cart {
  width: 100%;
  margin: 0 0 0.4rem 0; }
  @media (min-width: 550px) {
    .woocommerce-checkout .button#wpmc-back-to-cart {
      width: auto;
      margin: 0.4rem; } }

.woocommerce ul.order_details li {
  border-right: 0px dashed #9e9e9e; }
  @media (min-width: 1024px) {
    .woocommerce ul.order_details li {
      border-right: 1px dashed #9e9e9e; } }

/* CART - CHECKOUT PAGE */
/* WOO FLYCART */
.woofc-count {
  left: 20px;
  bottom: 20px; }
  @media (min-width: 550px) {
    .woofc-count {
      left: 40px;
      bottom: 40px; } }

/* WOO FLYCART */
/* NEWS PAGE */
.news-content p {
  color: #003e51;
  font-size: 1.08rem;
  line-height: 1.45rem; }

/* NEWS PAGE */
/* MY ACCOUNT PAGE */
.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%;
  line-height: 1.7rem; }
  @media (min-width: 768px) {
    .woocommerce-account .woocommerce-MyAccount-content {
      width: 78%; } }
.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100%; }
  @media (min-width: 768px) {
    .woocommerce-account .woocommerce-MyAccount-navigation {
      width: 20%; } }
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address-title .edit {
  background: #ffe1e5;
  color: #000000;
  padding: 0.2rem 0.7rem; }
.woocommerce-account .woocommerce-Addresses {
  margin-top: 1rem; }
.woocommerce-account .woocommerce-MyAccount-content .button {
  max-width: 250px;
  padding: 1rem;
  margin-left: 0.2rem;
  margin-left: auto; }
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  text-align: left;
  font-weight: 600;
  margin: 0 0 3rem 0; }
  @media (min-width: 550px) {
    .woocommerce-account .woocommerce-MyAccount-navigation ul {
      text-align: center; } }
  @media (min-width: 768px) {
    .woocommerce-account .woocommerce-MyAccount-navigation ul {
      text-align: left;
      font-weight: 500; } }
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  font-size: 1rem;
  padding: 0 1rem 0 0;
  display: inline;
  margin: 0; }
  @media (min-width: 550px) {
    .woocommerce-account .woocommerce-MyAccount-navigation ul li {
      font-size: 1.2rem;
      padding: 0 1rem; } }
  @media (min-width: 768px) {
    .woocommerce-account .woocommerce-MyAccount-navigation ul li {
      display: block;
      padding: 0;
      font-weight: 400;
      font-size: 1.05rem; } }

.woocommerce .woocommerce-customer-details address {
  border: 1px solid #eeeeee;
  border-bottom-width: 1px;
  border-right-width: 1px;
  background: #ffffff; }

.woocommerce table.shop_table thead tr {
  background: #ffe6e9; }

/* MY ACCOUNT PAGE */
/* WOOCOMMERCE MESSAGES */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  background: #ffffff; }

.woocommerce-error li, .woocommerce-info li, .woocommerce-message li {
  line-height: 1.35rem; }
  @media (min-width: 550px) {
    .woocommerce-error li, .woocommerce-info li, .woocommerce-message li {
      line-height: 1.6rem; } }
  @media (min-width: 768px) {
    .woocommerce-error li, .woocommerce-info li, .woocommerce-message li {
      line-height: 2rem; } }

.woocommerce-message a {
  text-decoration: underline; }

.woocommerce-error::before {
  top: 1.2rem; }

/* WOOCOMMERCE MESSAGES */
/* LOGIN PAGE */
.login button.button {
  margin: 0;
  width: 40%;
  display: block;
  margin-right: 60% !important; }

.login__img {
  height: 300px !important; }
  @media (min-width: 768px) {
    .login__img {
      height: 450px !important; } }
  @media (min-width: 1024px) {
    .login__img {
      height: 520px !important; } }

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
  right: 0.8em;
  top: 1.09em; }

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
  margin-top: -1rem;
  margin-bottom: 0.6rem; }

.woocommerce .wfls-login-message {
  padding: 1rem 0 0 0; }

/* LOGIN PAGE */
/* RESET PASSWORD PAGE */
.woocommerce-ResetPassword {
  text-align: center;
  line-height: 1.4rem; }
  .woocommerce-ResetPassword .woocommerce-form-row {
    width: 60% !important;
    margin-left: 20% !important;
    margin-right: 20% !important; }
  .woocommerce-ResetPassword label {
    font-weight: 600; }
  .woocommerce-ResetPassword .woocommerce-form-row .woocommerce-Button {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .woocommerce-ResetPassword .woocommerce-form-row .woocommerce-Button {
        width: 300px; } }

/* RESET PASSWORD PAGE */
/* GENERIC CONTENT */
.woocommerce-checkout .generic-content ul li {
  list-style-type: none;
  width: 100%;
  margin-bottom: 0.4rem; }
  @media (min-width: 1024px) {
    .woocommerce-checkout .generic-content ul li {
      width: auto;
      margin-bottom: 0; } }

.generic-content ul li {
  list-style-type: disc;
  margin-left: 1rem; }

.generic-content a {
  color: #3f51b5;
  text-decoration: underline; }

/* GENERIC CONTENT */
/* IVORY SEARCH */
.is-form-style {
  margin-bottom: 1.5rem; }

.is-form-style input.is-search-input {
  background: #ffffff;
  background-image: none !important;
  color: #9e9e9e;
  padding: 0 12px;
  margin: 0;
  outline: 0 !important;
  font-size: 18px !important;
  height: 60px;
  border: solid 1px #e0e0e0 !important;
  font-family: unset; }

.is-search-icon {
  display: inline-block !important;
  color: #9e9e9e;
  background: #ffffff;
  box-shadow: none !important;
  outline: 0;
  margin: 0;
  font-size: 18px !important;
  border: 1px solid #e0e0e0;
  border-left: none;
  height: 60px;
  text-transform: capitalize;
  vertical-align: middle; }

.is-form-style button.is-search-submit {
  height: 60px; }

.is-search-icon {
  height: 60px;
  padding-top: 16px !important; }
  .is-search-icon svg {
    width: 25px; }

div.is-ajax-search-details {
  display: none !important;
  background: yellow; }

div.is-ajax-search-result .single-product__signin {
  color: #ffffff;
  display: inline;
  padding: 0.2rem 0.3rem;
  font-size: 0.7rem; }

div.is-ajax-search-result .single-product__signin:hover {
  text-decoration: none; }

.is-search-icon {
  transition: background 0.15s ease-in; }

.is-search-icon:hover {
  cursor: pointer;
  background: #f5f5f5; }

.blog .sidebar .sidebar__form, .single .sidebar .sidebar__form {
  border: 1px solid #e0e0e0;
  background-image: url("/wp-content/uploads/2022/04/magnifier-1.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 41px; }

/* IVORY SEARCH */
