.error404 {
    & .slider__title {
        color: $white;
        font-size: 5rem;
        line-height: 6rem;
        @include iphone {
            font-size: 8rem;
            line-height: 10rem;
        }
        margin-top: 0.6rem;
    }
    & .slider__description {
        color: $white;
        $font-weight: $semi-bold;
    }
    & .menu {
        margin-top: 1rem;
    }
    & .menu li {
        display: inline;
        padding: 0 0.4rem;
    }
    & .page-not-found {
        margin-bottom: 5rem;
    }
    & .page-not-found form {
        max-width: 500px;
        margin: 3rem auto;
    }
}