.minimum-order {
    background: $white;
    border: 1px solid $grey-400;
    padding: 1rem;
    border-radius: 0.8rem;
    &__title {
        padding: 0 0 0.5rem 0;
        font-size: 1.3rem;
    }
}