.contact {
    &__column {
        display: flex;
        flex-wrap: wrap;
    }
    &__col:nth-child(1) {
        width: 100%;
        margin-right: 0%;
        @include laptop {
            width: 52%;
            margin-right: 1%;
        }
    }
    &__col:nth-child(2) {
        width: 100%;
        margin-left: 0%;
        @include laptop {
            width: 46%;
            margin-left: 1%;
        }
    }
    &__subheading {
        color: $tertiary-color;
        font-size: 1.1rem;
        padding: 0 0 0.4rem 0;
    }
    &__telephone {
        padding: 0.5rem 0;
        font-size: 0.95rem;
        line-height: 2rem;
    }
    &__address {
        font-size: 0.95rem;
        line-height: 1.8rem;
        padding: 0;
    }
    &__address-bold {
        font-weight: $bold;
    }
    &__address-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.7rem;
    }
    &__address-wrap-2 {
        display: flex;
        flex-wrap: wrap;
    }
    &__address-left {
        width: 6%;
    }
    &__address-right {
        width: 94%;
    }
    &__address-wrap &__icon {
        font-size: 1.55rem;
        transform: rotate(45deg);
    }
    &__address-wrap-2 &__icon {
        font-size: 1.85rem;
        margin-left: 0.2rem;
    }
    &__image {
        object-fit: cover;
        height: 400px;
        margin-top: 2rem;
        @include laptop {
            height: 725px;
            margin-top: 0;
        }
        width: 100%;
    }
}