.delivery-policy {
    &__card {
        margin: 2rem 0 2rem 0;
        font-size: 1rem;
        padding: 1.3rem 2rem;
        margin-left: 1.2rem;
        background: $white;
    }
    &__heading {
        font-weight: $semi-bold;
        padding-top: 0;
        font-size: 1.27rem;
    }
    &__statement {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    &__icon {
        color: $primary-color;
        font-size: 1.8rem;
    }
}