.generic-grey-heading {
    &__container {
        margin-left: auto;
        margin-right: auto;
        padding: 0rem 0rem 0.8rem 0rem;
        @include tablet {
            padding: 0rem 0rem 0.8rem 0rem;
        }
        @include laptop {
            padding: 2rem 0rem 0.8rem 0rem;
        }
    }
}
.generic-content {
    &__container {
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 0;
    }
}