.login {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    @include tablet {
        padding: 0 2.4rem;
    }
    @include laptop {
        padding: 0 3rem;
    }
    &__col-1 {
        width: 100%;
        margin-right: 0;
        @include tablet {
            width: 48%;
            margin-right: 2%;
        }
    }
    &__col-2 {
        width: 100%;
        margin-left: 0;
        @include tablet {
            width: 48%;
            margin-left: 2%;
        }
    }
    &__heading {
        padding: 0;
    }
    &__img {
        object-fit: cover;
        width: 100%;
    }
    &__form {
        background: $white;
    }
    &__form-row {
        width: 100%;
    }
}
