.news-banner {
    width: 100%;
    &__img {
        width: 100%;
        object-fit: cover;
        height: 200px;
        @include iphone {
            height: 280px;
        }
    }
}
.news-content {
    &__column {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include iphone {
            grid-template-columns: repeat(2, 1fr);
        }
        @include tablet {
            grid-template-columns: repeat(3, 1fr); 
        }
        grid-gap: 0% 1.99%;
        width: 100%;
        color: $tertiary-color;
    }
    &__title {
        font-size: 1.1rem;
        line-height: 1.4rem;
        text-decoration: underline;
        min-height: 49px;
        color: $tertiary-color;
        padding-bottom: 0.2rem;
        font-weight: $semi-bold;
        margin-top: 0.7rem;
    }
    &__img {
        width: 100%;
        object-fit: cover;
        height: 300px;
    }
    &__img-link {
        width: 100%;
    }
    &__panel {
        margin-bottom: 1rem;
    }
}