.search-content {
    &__column {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @include iphone {
            grid-template-columns: repeat(2, 1fr);
        }
        @include desktop-small {
            grid-template-columns: repeat(3, 1fr); 
        }
        @include desktop {
            grid-template-columns: repeat(4, 1fr); 
        }
        grid-gap: 0% 1.99%;
        width: 100%;
        color: $tertiary-color;
    }
    &__title {
        font-size: 1.1rem;
        line-height: 1.4rem;
        min-height: 49px;
        color: $black;
        padding-bottom: 0.2rem;
        font-weight: $semi-bold;
        margin-top: 0.7rem;
    }
    &__link {
        width: 100%;
    }
    &__img {
        width: 100%;
        object-fit: cover;
        height: auto;
        @include iphone {
            height: 250px;
        }
        @include tablet {
            height: 270px;
        }
        @include laptop {
            height: 200px;
        }
        border: 1px solid $grey-300;
    }
    &__img-link {
        width: 100%;
    }
    &__panel {
        margin-bottom: 1rem;
    }
    &__content {
        line-height: 1.4rem;
    }
}