.single-product {
    &__content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__sku {
        color: $indigo;
        font-size: 1.5rem;
    }
    &__signin {
        background: $black;
        color: $white;
        width: 100%;
        text-align: center;
        padding: 0.7rem;
        margin-top: 0.5rem;
        font-weight: $semi-bold;
    }
    &__upsell-title {
        font-size: 1.7rem;
        font-weight: $semi-bold;
        color: $black;
        line-height: 2.2rem;
        padding: 0 0 1rem 0;
    }
}