.breadcrumbs {
    background: $primary-color;
    padding: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.25rem;
    @include iphone {
        padding: 1.45rem 0;
    }
    @include tablet {
        font-size: 0.95rem;
        line-height: 1.3rem;
        padding: 1.85rem 0;
    }
    @include laptop {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    &__container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    &__container a {
        font-weight: $semi-bold;
        text-decoration: underline;
    }
    &__icon {
        padding: 0 0.5rem;
        font-size: 0.98rem;
    }
    &__home-icon {
        margin-right: 0.8rem;
        font-size: 1.25rem;
        margin-top: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}