.button {
  padding: 1rem 2.5rem;
  background: $black;
  color: $white;
  border: none;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: $primary-color-dark;
  }
  &:active {
    opacity: 0.5;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--round {
    @extend %round;
  }
  &--pill {
    border-radius: 2.5rem;
  }
  &--secondary {
    background: $secondary-color;
    &:hover {
      background: $secondary-color-dark;
    }
  }
  &--accent {
    background: $accent-color;
    &:hover {
      background: $accent-color-dark;
    }
  }
}
