.contact-form {
    margin-top: 1rem;
    &__column {
        display: flex;
        flex-wrap: wrap;
    }
    &__col3 {
        width: 100%;
    }
    &__col2 {
        width: 49%;
        margin-left: 1%;
    }
    &__col1 {
        width: 49%;
        margin-right: 1%;
    }
}