.design-categories {
    &__link {
        text-align: center;
        color: $white;
        font-weight: $medium;
        background: $grey-500;
        font-size: 1.1rem;
        padding: 0.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all 0.15s ease-in;
    }
    // &__link:hover {
    //     background: $grey-300;
    //     color: $black;
    // }
    // &__link:hover img {
    //     transform: scale(1.05);
    //     filter: grayscale(100%);
    // }
    &__col {
        padding: 0;
        @include iphone {
            padding: 0 0.65rem;
        }
        margin-bottom: 1rem;
        position: relative;
        height: 248px;
    }
    &__col:hover .design-categories__link {
        background: $grey-300;
        color: $black;
        opacity: 0.85;
    }
    &__wrapper {
        overflow: hidden;
        height: 248px;
        position: absolute;
        width: 100%;
        @include iphone {
            width: auto;
        }
    }
    &__img {
        margin-bottom: 1.5rem;
        transform: scale(1);
        height: 248px;
        object-fit: cover;
        filter: grayscale(0%);
        transition: all 0.15s ease-in;
        width: 100%;
    }
    &__img:hover {
        transform: scale(1.05);
        filter: grayscale(100%);
    }
    &__column {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        @include iphone {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        @include desktop {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }
}