.home-news {
    color: $tertiary-color;
    &__col {
        padding: 0 0.4rem;
        color: $tertiary-color;
    }
    &__heading {
        color: $tertiary-color;
        font-size: 1.1rem;
        line-height: 1.5rem;
        font-weight: $semi-bold;
        text-decoration: underline;
        min-height: 67px;
    }
    &__img {
        object-fit: cover;
        height: 255px;
    }
}