.layout {
    &__column {
        display: flex;
        flex-wrap: wrap;
    }
    &__1-col {
        width: 100%;
    }
    &__2-col {
        width: 100%;
        @include iphone {
            width: 50%;
        }
        @include laptop {
            width: 50%;
        }
    }
    &__3-col {
        width: 100%;
        @include iphone {
            width: 50%;
        }
        @include laptop {
            width: 33.333%;
        }
    }
    &__4-col {
        width: 100%;
        @include iphone {
            width: 50%;
        }
        @include laptop {
            width: 25%;
        }
    }
}