.our-jewellery {
    &__column {
        margin-left: auto;
        margin-right: auto;
        padding: 0 3rem;
        @include desktop {
            padding: 1rem;
        }
    }
    &__btn {
        margin-top: 2rem;
    }
    &__img {
        object-fit: cover;
        height: 280px;
        width: 100%;
        @include iphone {
            height: 320px;
        }
        @include tablet {
            height: 360px;
        }
        @include desktop-small {
            height: 550px;
        }
        @include desktop {
            height: auto;
        }
    }
    &__2-col:nth-child(1) {
        padding-right: 0;
        width: 100%;
        @include iphone {
            width: 100%;
        }
        @include laptop {
            padding-right: 2rem;
            width: 50%;
        }
    }
    &__2-col:nth-child(2) {
        padding-left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        @include iphone {
            width: 100%;
        }
        @include laptop {
            padding-left: 2rem;
            width: 50%;
        }
    }
}