.sales-banner {
    padding: 0.6rem 0;
    @include iphone {
        padding: 1.2rem 0;
    }
    @include tablet {
        padding: 1.5rem 0;
    }
    @include desktop-small {
        padding: 2.7rem 0;
    }
    margin-top: -0.2rem;
    &__column {
        display: flex;
        flex-wrap: wrap;
    }
    &__col {
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
    }
    &__col:nth-child(1) {
        border-right: 0px solid $grey-300;
        width: 100%;
        @include iphone {
            width: 100%;
            border-right: 0px solid $grey-300;
        }
        @include tablet {
            width: 36.333%;
            border-right: 2px solid $grey-300;
        }
    }
    &__col:nth-child(2) {
        border-right: 0px solid $grey-300;
        width: 100%;
        @include iphone {
            width: 100%;
            border-right: 0px solid $grey-300;
        }
        @include tablet {
            width: 27.333%;
            border-right: 2px solid $grey-300;
        }
    }
    &__col:nth-child(3) {
        border-right: none;
        width: 100%;
        @include iphone {
            width: 100%;
        }
        @include tablet {
            width: 36.333%;
        }
    }
    &__heading {
        font-weight: 600;
        font-size: 1.35rem;
        @include tablet {
            font-size: 1.05rem;
        }
        padding: 0;
        color: $black;
    }
    &__icon {
        font-size: 1.8rem;
        color: $black;
        padding-top: 2rem;
    }
    &__left {
        width: 100%;
        margin-left: 0%;
        text-align: center;
        display: none;
        @include iphone {
            display: none;
        }
        @include tablet {
            display: block;
        }
        @include desktop {
            width: 14%;
            margin-left: 17%;
            text-align: left;
            display: block;
        }
    }
    &__right {
        width: 100%;
        font-size: 0.95rem;
        line-height: 1.35rem;
        font-weight: $medium;
        color: $grey-500;
        padding: 0;
        min-height: auto;
        text-align: center;
        @include iphone {
            padding: 0.3rem 0;
        }
        @include tablet {
            min-height: 110px;
            padding: 0.6rem 0;
        }
        @include desktop {
            width: 69%;
            text-align: left;
            padding: 1.1rem 0;
        }
    }
    &__content {
        color: $grey-600;
        font-size: 1rem;
        @include tablet {
            font-size: 0.8rem; 
        }
        @include desktop-small {
            font-size: 0.85rem;
        }
        @include desktop {
            font-size: 0.98rem;
        }
    }
}