.slider {
    width: 100%;
    font-size: 1.2rem;
    position: relative;
    &__title {
        font-weight: $bold;
        font-size: 1.9rem;
        padding: 0;
        margin-top: -4.5rem;
        @include tablet {
            margin-top: -3.5rem;
        }
        @include desktop-small {
            margin-top: -2.5rem;
        }
        @include desktop-small {
            margin-top: -2rem;
        }
    }
    &__content {
        position: absolute;
        max-width: 590px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__content-600 {
        height: 330px;
        @include tablet {
            height: 400px;
        }
        @include desktop-small {
            height: 500px;
        }
        @include desktop {
            height: 600px;
        }
    }
    &__content-300 {
        height: 200px;
        @include tablet {
            height: 200px;
        }
        @include desktop-small {
            height: 250px;
        }
        @include desktop {
            height: 300px;
        }
    }
    &__description {
        font-size: 0.9rem;
        line-height: 1.3rem;
        padding: 0 1rem;
        @include desktop-small {
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
        margin-bottom: 2rem;
    }
    &__btn {
        background: transparent;
        border: 4px solid $black;
        color: $black;
        padding: 0.8rem 1.55rem;
        margin-left: auto;
        margin-right: auto;
        font-weight: $bold;
        font-size: 0.9rem;
        @include tablet {
            padding: 1rem 1.55rem;
            font-size: 1.1rem;
        }
    }
    &__btn:hover {
        background: rgba(0, 0, 0, 0.7);
        color: $white;
    }
    &__btn-white {
        background: transparent;
        border: 4px solid $white;
        color: $white;
        padding: 0.8rem 1.55rem;
        margin-left: auto;
        margin-right: auto;
        font-weight: $bold;
        font-size: 0.9rem;
        @include tablet {
            padding: 1rem 1.55rem;
            font-size: 1.1rem;
        }
    }
    &__btn-white:hover {
        background: $black;
        color: $white;
    }
    &__img {
        object-fit: cover;
        width: 100%;
    }
    &__img-600 {
        height: 330px;
        @include tablet {
            height: 400px;
        }
        @include desktop-small {
            height: 500px;
        }
        @include desktop {
            height: 600px;
        }
    }
    &__img-300 {
        height: 200px;
        @include tablet {
            height: 200px;
        }
        @include desktop-small {
            height: 250px;
        }
        @include desktop {
            height: 300px;
        }
    }
    &__scroll {
        position: absolute;
        bottom: 0.9rem;
        left: 0;
        right: 0;
        padding: 1.5rem 0 1rem 0;
        font-size: 0.95rem;
        line-height: 0;
    }
    &__icon {
        font-size: 2.15rem;
        color: $black;
        margin-bottom: 0;
    }
}