.testimonials {
    &__heading {
        font-weight: $semi-bold;
        font-size: 1.17rem;
        line-height: 1.65rem;
        padding: 0 0 0.45rem 0;
    }
    &__name {
        color: $grey-400;
        font-weight: $medium;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
    &__column {
        margin: 2rem 0;
        column-count: 1;
        @include iphone {
            column-count: 2;
        }
        @include laptop {
            column-count: 3;
        }
        column-gap: 1em;
    }
    &__3-col {
        width: 100%;
        display: inline-block;
    }
}