.two-column-with-sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem;
    @include desktop {
        padding: 2rem 0;
    }
    &__container {
        width: 100%; 
        margin-left: 0%;
        padding-right: 1.5rem;
        @include laptop {
            width: 75%; 
            margin-left: 3.5%;
        }
    }
}
.sidebar {
    width: 100%;
    border-right: 0px solid $grey-300;
    padding-right: 0%;
    @include laptop {
        width: 21.5%;
        padding-right: 2.5%;
        border-right: 1px solid $grey-300;
    }
    &__heading {
        font-size: 1.4rem;
    }
    &__form {
        width: 100%;
        border: 1px solid $grey-400;
        color: $grey-500;
        font-style: italic;
        font-size: 1.1rem;
        background-image: url("/wp-content/themes/fluidpress/images/magnifier.png");
        background-repeat: no-repeat;
        background-position: right center;
        margin-bottom: 0.9rem;
    }
    &__search-field {
        background: transparent;
        color: $grey-500;
        font-style: italic;
        width: 100%;
    }
    &__search-field:focus-visible {
        outline: none;
        background: $white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    }
    &__menu {
        margin-top: 0.7rem;
    }
    &__menu-list {
        text-transform: capitalize;
        color: $grey-600;
        font-size: 1.1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
    }
}
// .news-sidebar {
//     width: 100%;
//     border-right: 0px solid $grey-300;
//     padding-right: 0%;
//     @include laptop {
//         width: 21.5%;
//         padding-right: 2.5%;
//         border-right: 1px solid $grey-300;
//     }
// }
.single .two-column-with-sidebar {
    flex-direction: row;
}
.single .sidebar {
    width: 100%;
    border-right: 0px solid $grey-300;
    border-left: 0px solid $grey-300;
    padding-left: 0;
    padding-right: 0;
    @include laptop {
        width: 21.5%;
        padding-left: 2.5%;
        padding-right: 0;
        border-left: 1px solid $grey-300;
    }
}
